.cards > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: unset;
}

.cards.clickable-images > ul {
  justify-content: center;
  list-style: none;
  padding: 0;
}

.cards > ul > li {
  display: block;
  width: 90%;
  min-height: 262px;
  margin-right: 2.66%;
  margin-bottom: 25px;
  border: 1px solid #eae9e8;
  text-align: center;
  transition: background .3s ease;
}

.cards.clickable > ul > a {
  display: block;
  width: 90%;
  min-height: 262px;
  margin-right: 2.66%;
  margin-bottom: 25px;
  border: 1px solid #eae9e8;
  text-align: center;
  transition: background .3s ease;
  color: black;
  list-style: none;
}

.cards > ul > li:hover {
  background: var(--orange);
  text-decoration: none;
  transition: background .3s ease;
  color: white;
}

.cards.clickable > ul > a:hover {
  background: var(--orange);
  text-decoration: none;
  transition: background .3s ease;
  color: white;
}

.cards .cards-card-body p:first-child {
  margin-top: 0;
  display: block;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms;
}

.cards .cards-card-body p:last-child {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  transition: all 300ms;
}

.cards.clickable-images .cards-card-body p:last-child {
  display: none;
}

.cards .cards-card-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  margin: 60px 0 15px;
}

.cards > ul > li img {
  width: 96px;
}

.cards.clickable > ul > a > li img {
  width: 96px;
}

.cards.clickable-images > ul > a > li img {
  width: 100%;
}

@media (width >= 600px) {
  .cards > ul > li {
    width: 40%;
  }

  .cards.clickable > ul > a {
    width: 40%;
  }

  .cards.clickable-images > ul > a {
    width: 80%;
  }
}

@media (width >= 900px) {
  .cards > ul > li {
    width: 22%;
  }

  .cards.clickable > ul > a {
    width: 22%;
  }

  .cards.clickable-images > ul > a {
    width: 80%;
  }
}

.cards.tiles.block{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 20px;
    background-color: white;
    padding: 35px 50px 50px 35px;

    ul {
        list-style: none;
        padding: 0 0 10px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        li {
            height: auto;
            border: none;
            display: block;
            position: relative;
            width: 48.2%;
            margin: unset;
            margin-bottom: 40px;
            background: #F5F5F5;

            .visitors-tile {
                display: block;
                text-decoration: none;
                transition: transform 0.3s ease;

                .visitors-tile-banner{
                    height: 285px;
                    width: 100%;
                }

                .visitors-tile-text{
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 19px 0;
                    font: 600 30px Oswald,sans-serif;
                    color: #000;
                    text-align: center;
                    line-height: 1.2;
                    background-color: #FFF;
                }
            }
        }
    }

    .visitors-tile:hover{
        transform: scale(1.05);
    }
}

@media screen and (width <= 900px) {
    .cards.tiles.block li {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
        width: 100%;
    }
}

@media screen and (width >= 900px) {
    .cards.tiles.block li {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

.cards.staff.block {
    ul {
        margin: unset;
    }

    li:nth-of-type(4n) {
        margin-right: 0;
    }

    li:hover {
        background: none;
    }

    .staff-tile-img-box {
        margin-top: 20px;

        img {
            display: inline-block;
            min-width: 162px;
            width: 162px;
            height: 162px;
            object-fit: cover;
            border-radius: 50%
        }
    }

    .staff-tile-name {
        font: 700 18px 'Open Sans', sans-serif;
        color: #000;
        margin: 20px 0 10px;
    }

    .staff-tile-title {
        font: 400 18px 'Open Sans', sans-serif;
        color: #000;
        margin-bottom: 15px;
    }

    .staff-tile-contacts {
        background: #C54B2A;
        text-align: center;
        padding: 5px 15px;

        a {
            margin: 0 10px
        }

        i.fa {
            color: #FFF;
            font-family: FontAwesome, sans-serif;
            font-style: normal;
        }
    }
}

.team .cards.staff.block .staff-tile-title   {
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.fa-phone::before {
    content: "\f095"
}

.fa-envelope::before {
    content: "\f0e0";
}

.fa-facebook::before {
    content: "\f09a"
}

.fa-youtube::before {
    content: "\f167";
}

.fa-x-twitter::before {
    content: "\e61b";
    font-family: FontAwesomeBrands, sans-serif
}

.fa-instagram::before {
    content: "\f16d"
}
