.cards > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: unset;
}

.cards > ul > li {
  display: block;
  width: 90%;
  min-height: 262px;
  margin-right: 2.66%;
  margin-bottom: 25px;
  border: 1px solid #eae9e8;
  text-align: center;
  transition: background .3s ease;
}

.cards.clickable > ul > a {
  display: block;
  width: 90%;
  min-height: 262px;
  margin-right: 2.66%;
  margin-bottom: 25px;
  border: 1px solid #eae9e8;
  text-align: center;
  transition: background .3s ease;
  color: black;
  list-style: none;
}

.cards > ul > li:hover {
  background: var(--orange);
  text-decoration: none;
  transition: background .3s ease;
  color: white;
}

.cards.clickable > ul > a:hover {
  background: var(--orange);
  text-decoration: none;
  transition: background .3s ease;
  color: white;
}

.cards .cards-card-body {
    p {
        padding: 10px 20px;
    }

    p:first-child {
        margin-top: 0;
        margin-bottom: 0;
        display: block;
        padding: 10px 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        transition: all 300ms;
    }

    p:last-child {
        display: inline-block;
        padding: 10px 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        transition: all 300ms;
        margin: 0;
    }
}

.cards.size-50 {
    text-align: center;

    img {
        width: 50%;
    }
}

.cards .cards-card-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  margin: 60px 0 15px;
}

/* stylelint-disable no-descending-specificity */
.cards > ul > li img {
  width: 96px;
}

.cards.clickable > ul > a > li img {
  width: 96px;
}

@media (width >= 600px) {
  .cards > ul > li {
    width: 40%;
  }

  .cards.clickable > ul > a {
    width: 40%;
  }
}

@media (width >= 900px) {
  .cards > ul > li {
    width: 22%;
  }

  .cards.clickable > ul > a {
    width: 22%;
  }
}

.cards.tiles.block{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    background-color: white;

    ul {
        list-style: none;
        padding: 0 0 10px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        li {
            height: auto;
            border: none;
            display: block;
            position: relative;
            width: 48.2%;
            margin: unset;
            margin-bottom: 40px;
            background: #F5F5F5;

            .visitors-tile {
                display: block;
                text-decoration: none;
                transition: transform 0.3s ease;

                .visitors-tile-banner{
                    height: 285px;
                    width: 100%;
                }

                .visitors-tile-text{
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 19px 0;
                    font: 600 30px Oswald,sans-serif;
                    color: #000;
                    text-align: center;
                    line-height: 1.2;
                    background-color: #FFF;
                }
            }
        }
    }

    .visitors-tile:hover{
        transform: scale(1.05);
    }
}

@media screen and (width <= 900px) {
    .cards.tiles.block li {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
        width: 100%;
    }
}

@media screen and (width >= 900px) {
    .cards.tiles.block li {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

.cards.staff.block {
    ul {
        margin: unset;
    }

    li:nth-of-type(4n) {
        margin-right: 0;
    }

    li:hover {
        background: none;
    }

    .staff-tile-img-box {
        margin-top: 20px;

        img {
            display: inline-block;
            min-width: 162px;
            width: 162px;
            height: 162px;
            object-fit: cover;
            border-radius: 50%
        }
    }

    .staff-tile-name {
        font: 700 18px 'Open Sans', sans-serif;
        color: #000;
        margin: 20px 0 10px;
    }

    .staff-tile-title {
        font: 400 18px 'Open Sans', sans-serif;
        color: #000;
        margin-bottom: 15px;
    }

    .staff-tile-contacts {
        background: #C54B2A;
        text-align: center;
        padding: 5px 15px;

        a {
            margin: 0 10px
        }

        i.fa {
            color: #FFF;
            font-family: var(--icon-font-family);
            font-style: normal;
        }
    }
}

.cards.staff.block.min-height-3-title .staff-tile-title{
    display: block;
    min-height: calc(1.2em * 3);
    line-height: 1.2em;
}

.cards.staff.block.min-height-2-title .staff-tile-title{
    display: block;
    min-height: calc(1.2em * 2);
    line-height: 1.2em;
}

.team .cards.staff.block .staff-tile-title   {
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.fa-phone::before {
    content: "\f095"
}

.fa-envelope::before {
    content: "\f0e0";
}

.fa-facebook::before {
    content: "\f09a"
}

.fa-youtube::before {
    content: "\f167";
}

.fa-x-twitter::before {
    content: "\e61b";
    font-family: var(--icon-fa-brands-font-family);
}

.fa-instagram::before {
    content: "\f16d"
}

.cards.clickable-images:not(:has(ul)) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.cards.clickable-images {
    &.biography {
        float: left;
    }

    &.biography-right {
        float: right;
    }
    
    &.width-full img {
        width: 100% !important;
    }

    &.width-half img {
        width: 50% !important;
    }

    &.width-15p li {
        width: 15% !important;
    }

    &.width-20p li { /* for 5 images */
        width: 19% !important;
    }

    &.width-25p li { /* for 4 images */
        width: 24%;
    }

    &.width-auto img {
        width: auto;
    }

    &.width-200 img {
        width: 200px !important;
    }

    &.width-275 img {
        width: 275px !important;
    }

    &.width-300 img {
        width: 300px !important;
    }

    &.width-375 img {
        width: 375px !important;
    }

    &.width-500 img {
        width: 500px !important;
    }

    &.width-600 img {
        width: 600px !important;
    }

    &.full-height img {
        height: 100%;
        object-fit: cover;
    }

    &.social-icons {
        ul{
            flex-flow: row;
            justify-content: flex-start;

            li {
                width: 60px;
                text-align: left;
            }
        }
    }

    img {
        width: 100%;
    }

    &.align-right {
        width: 20%;
        float: right;
    }

    &.align-left {
        ul {
            justify-content: start !important;
            text-align: left;

            li {
                text-align: left;
            }
        }
    }

    &.v-align-center {
        ul li {
            align-content: center;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 5px;
        text-align: center;
        margin: 0;

        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            border: none;
            background-color: white;
            width: unset;
            min-height: unset;
        }
    }
}

@media (width >= 900px) {
    .cards.clickable-images:not(:has(ul)) {
        flex-direction: row;
    }
}
