.cards > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 31px 0 29px;
}

.cards > ul > li {
  display: block;
  width: 90%;
  min-height: 262px;
  margin-right: 2.66%;
  margin-bottom: 25px;
  border: 1px solid #eae9e8;
  text-align: center;
  transition: background .3s ease;
}

.cards.clickable > ul > a {
  display: block;
  width: 90%;
  min-height: 262px;
  margin-right: 2.66%;
  margin-bottom: 25px;
  border: 1px solid #eae9e8;
  text-align: center;
  transition: background .3s ease;
  color: black;
  list-style: none;
}

.cards > ul > li:hover {
  background: var(--orange);
  text-decoration: none;
  transition: background .3s ease;
  color: white;
}

.cards.clickable > ul > a:hover {
  background: var(--orange);
  text-decoration: none;
  transition: background .3s ease;
  color: white;
}

.cards .cards-card-body p:first-child {
  margin-top: 0;
  display: block;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms;
}

.cards .cards-card-body p:last-child {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  transition: all 300ms;
}

.cards .cards-card-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  margin: 60px 0 15px;
}

.cards > ul > li img {
  width: 96px;
}

.cards.clickable > ul > a > li img {
  width: 96px;
}

@media (width >= 600px) {
  .cards > ul > li {
    width: 40%;
  }

  .cards.clickable > ul > a {
    width: 40%;
  }
}

@media (width >= 900px) {
  .cards > ul > li {
    width: 22%;
  }

  .cards.clickable > ul > a {
    width: 22%;
  }
}
