.county-commissioners {
    background-color: #3787d8;
}

.county-commission-district-a {
    background-color: #da80c1;
}

.county-commission-district-b {
    background-color: #c0a6dd;
}

.county-commissioners-district-c {
    background-color: #48e7e2;
}

.county-commissioners-district-d {
    background-color: #7ad295;
}