body.calendar .county-commissioners {
    background-color: #3787d8;
}

body.calendar .county-commission-district-a {
    background-color: #da80c1;
}

body.calendar .county-commission-district-b {
    background-color: #c0a6dd;
}

body.calendar .county-commissioners-district-c {
    background-color: #48e7e2;
}

body.calendar .county-commissioners-district-d {
    background-color: #7ad295;
}

body.calendar a:any-link {
    color: white;
}

body.calendar .off {
    opacity: 0;
}

body.calendar .event-modal .event-modal-footer a.displayoff {
    display: none;
}

body.calendar .event-modal {
    display: none; 
    position: fixed; 
    z-index: 10000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0 0 0); 
    background-color: rgba(0 0 0 / 40%);
}

body.calendar .event-modal .event-modal-date {
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 1.2vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .2vh;
    line-height: 1;
    transition: opacity .25s ease-in-out;
}

body.calendar .event-modal .event-modal-date p {
    color: white;
    z-index: 1;
    padding: 0;
    margin: 0;
    font-family: var(--heading-font-family);
    font-size: 21px;
}

body.calendar .event-modal .event-modal-time p {
    color: white;
    z-index: 1;
    padding: 0 .6vw;
    margin: 0;
    font-family: var(--heading-font-family);
    font-size: 16px;
}

body.calendar .event-modal .event-modal-date p:last-child {
    font-size: 15px;
    font-weight: 600;
}

body.calendar .event-modal .event-modal-time {
    top: 276px;
    position: absolute;
    min-width: 165px;
    transition: opacity .25s ease-in-out;
}

body.calendar .event-modal .event-modal-content {
    width: 500px;
    max-width: 100%;
    background-color: white;
    height: 700px;
    margin: auto;
    margin-top: 5%;
    position: relative;
    animation: animatetop 1s;
}

body.calendar .event-modal .event-modal-footer {
    width: 500px;
    max-width: 100%;
    position: absolute;
    padding: 15px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
    color: white;
}

body.calendar .event-modal .event-modal-footer button, body.calendar .event-modal .event-modal-footer a {
    padding: 8px 12px 6px;
    display: block;
    float: right;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 16px;
    font-family: var(--heading-font-family);
    font-weight: 600 !important;
    line-height: 1 !important;
}

@keyframes animatetop {
    from {
        top: -50px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

body.calendar main section .fc {
    padding: 0 1vw 5vw;
    font-family: var(--heading-font-family);
}

body.calendar main section .fc .fc-button {
    border-radius: 0;
}

body.calendar main section .fc .fc-button-primary {
    background-color: var(--orange);
    border-color: var(--orange);
    color: white;
}

body.calendar main section .fc .fc-button-primary:not(:disabled).fc-button-active, body.calendar main section .fc .fc-button-primary:not(:disabled):active {
    background-color: #d8684a !important;
    border-color: #d8684a;
    color: white;
}

body.calendar main section .fc thead {
    font-family: var(--heading-font-family);
}

body.calendar main section .fc .fc-header-toolbar {
    gap: vw;
}

body.calendar main section .fc .fc-daygrid-day.fc-day-today {
    background-color: var(--orange);
}

body.calendar main section .fc .fc-daygrid-day-number {
    color: #007bff;
    text-decoration: underline;
}

body.calendar main section .fc .fc-daygrid-day-number:hover {
    color: #0056b3;
}

body.calendar main section .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: white;
}

body.calendar main section .fc .fc-header-toolbar > .fc-toolbar-chunk:first-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start;
    font-size: 16px;
    font-family: var(--heading-font-family);
}

body.calendar main section .fc .fc-header-toolbar > .fc-toolbar-chunk:first-child > .fc-button-group:last-child {
    margin-left: 0;
}

body.calendar main section .fc .fc-header-toolbar > .fc-toolbar-chunk:last-child h2 {
    font-weight: normal;
}

@media (width >= 900px) {
    body.calendar main section .fc {
        padding: 0 1vw 5vw;
    }
}




