body.calendar .county-commissioners {
    background-color: #3787d8;
}

body.calendar .county-commission-district-a {
    background-color: #da80c1;
}

body.calendar .county-commission-district-b {
    background-color: #c0a6dd;
}

body.calendar .county-commissioners-district-c {
    background-color: #48e7e2;
}

body.calendar .county-commissioners-district-d {
    background-color: #7ad295;
}

body.calendar .county-commissioners-district-e {
    background-color: #d4dbb6;
}

body.calendar .county-commissioners-district-f {
    background-color: #f9a97f;
}

body.calendar main a:any-link {
    color: white;
}

body.calendar .event-modal .event-modal-footer a {
    padding: 8px 12px 6px;
    display: block;
    float: right;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 16px;
    font-family: var(--heading-font-family);
    font-weight: 600 !important;
    line-height: 1 !important;
}

body.calendar div.event-modal a:any-link {
    color: white;
}

body.calendar .off {
    opacity: 0;
}

body.calendar main div.spinner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    z-index: 20000; 
    height:250px;
    margin-top: 100px;
}

body.calendar main div.spinner div.circle-spinner {
    width: 40px;
    height: 40px;
    background: conic-gradient(var(--default-button), var(--default-button), #fff);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: rotate 2s ease-in-out infinite;
}

body.calendar main div.spinner div.circle-spinner::after {
    content: "";
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0.7);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

body.calendar main section.fc-search .fc-calendar-filters > a {
    margin: 5px 0;
    padding: .375rem .75rem;
    background: var(--default-button);
    color: #fff;
    border: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5;
    vertical-align: top;
    transition: all .3s;
}

body.calendar main section.fc-search .fc-calendar-filters {
    position: relative;
}

body.calendar main section.fc-search .fc-calendar-filters ul {
    height: 0;
    overflow: hidden;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 1fr;
    position: absolute;
    z-index: 9;
    box-shadow: 0 2px 15px rgba(0 0 0 / 25%);
    left: 0;
    right: 0;
    top: 5vh;
    background: #fff;
    transition: height .2s ease-in;
}

body.calendar main section.fc-search .fc-calendar-filters button.fc-close {
    position: absolute;
    display: none;
    z-index: 1000;
    right: .2vw;
    top: 5.5vh;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    background-color: white;
    background-image: url('https://main--clarkcountynv--aemsites.aem.page/assets/images/media_1340ed71a23c8180cbade5b224fea6977ac4b3510.png');
}

body.calendar main section.fc-search .fc-calendar-filters button.fc-close.expanded {
    display: block;
}

body.calendar main section.fc-search .fc-calendar-filters ul.expanded {
    background: #fff;
    transition: height .2s ease-in;
    height: 1000px;
    overflow: scroll;
    padding: 30px;
}

body.calendar main section.fc-search .fc-calendar-filters ul li {
    background: #fff;
    transition: all .2s ease;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

body.calendar main section.fc-search .fc-calendar-filters ul li a {
    transition: all .2s ease;
    line-height: 1;
    display: block;
    padding: 11px;
    color: #333;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    margin-bottom: 6px;
    font-size: 13px;
    cursor: pointer;
}

body.calendar main section.fc-search .fc-calendar-filters ul li.active a {
    transition: all .2s ease;
    text-decoration: underline;
    color: #fff;
}

body.calendar main section.fc-search form {
    display: flex;
    flex-direction: row;
}

body.calendar main section.fc-search form input[type="text"] {
    border: 1px solid #e9eaec;
    padding: 10px 14px;
    outline: none;
    font-size: 13px;
    font-family: sans-serif;
    color: #777;
    margin: 0;
    display: inline-block;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 33.5px;
}

body.calendar main section.fc-search form button {
    background-image: url('https://main--clarkcountynv--aemsites.aem.page/assets/images/media_180bc9aa9af6580104021cf184bb4df296a6f38e4.png');
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 34.5px;
    margin: 0;
    width: 38.5px;
    padding: 0;
}

body.calendar .event-modal .event-modal-footer a.displayoff {
    display: none;
}

body.calendar .event-modal {
    display: none; 
    position: fixed; 
    z-index: 10000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0 0 0); 
    background-color: rgba(0 0 0 / 40%);
}

body.calendar .event-modal .event-modal-date {
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 1.2vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .2vh;
    line-height: 1;
    transition: opacity .25s ease-in-out;
}

body.calendar .event-modal .event-modal-date p {
    color: white;
    z-index: 1;
    padding: 0;
    margin: 0;
    font-family: var(--heading-font-family);
    font-size: 21px;
}

body.calendar .event-modal .event-modal-time p {
    color: white;
    z-index: 1;
    padding: 0 .6vw;
    margin: 0;
    font-family: var(--heading-font-family);
    font-size: 16px;
}

body.calendar .event-modal .event-modal-date p:last-child {
    font-size: 15px;
    font-weight: 600;
}

body.calendar .event-modal .event-modal-time {
    top: 276px;
    position: absolute;
    min-width: 165px;
    transition: opacity .25s ease-in-out;
}

body.calendar .event-modal .event-modal-content {
    width: 500px;
    max-width: 100%;
    background-color: white;
    height: 700px;
    margin: auto;
    margin-top: 5%;
    position: relative;
    animation: animatetop 1s;
}

body.calendar .event-modal .event-modal-footer {
    width: 500px;
    max-width: 100%;
    position: absolute;
    padding: 15px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
    color: white;
}

body.calendar .event-modal .event-modal-footer button {
    padding: 8px 12px 6px;
    display: block;
    float: right;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 16px;
    font-family: var(--heading-font-family);
    font-weight: 600 !important;
    line-height: 1 !important;
}

@keyframes animatetop {
    from {
        top: -50px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

body.calendar main section .fc {
    padding: 0 1vw 5vw;
    font-family: var(--heading-font-family);
    height: 507px;
}

body.calendar main section.fc-search {
    padding: 0 1vw 5vw;
    font-family: var(--heading-font-family);
}

body.calendar main section .fc .fc-button {
    border-radius: 0;
}

body.calendar main section .fc-theme-standard .fc-popover {
    width: 100%;
}

body.calendar main section .fc .fc-button-primary {
    background-color: var(--orange);
    border-color: var(--orange);
    color: white;
}

body.calendar main section .fc .fc-button-primary:not(:disabled).fc-button-active, body.calendar main section .fc .fc-button-primary:not(:disabled):active {
    background-color: #d8684a !important;
    border-color: #d8684a;
    color: white;
}

body.calendar main section .fc thead {
    font-family: var(--heading-font-family);
}

body.calendar main section .fc .fc-daygrid-day.fc-day-today {
    background-color: var(--orange);
}

body.calendar main section .fc .fc-daygrid-day-number {
    color: #007bff;
    text-decoration: underline;
}

body.calendar main section .fc .fc-daygrid-day-number:hover {
    color: #0056b3;
}

body.calendar main section .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: white;
}

body.calendar main section .fc .fc-header-toolbar > .fc-toolbar-chunk:first-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start;
    font-size: 16px;
    font-family: var(--heading-font-family);
}

body.calendar main section .fc .fc-header-toolbar > .fc-toolbar-chunk:first-child > .fc-button-group:last-child {
    margin-left: 0;
}

body.calendar main section .fc .fc-header-toolbar > .fc-toolbar-chunk:last-child h2 {
    font-weight: normal;
}

@media (width >= 900px) {
    body.calendar main section .fc {
        padding: 0 1vw 5vw;
        height: 1241px;
    }
    
    body.calendar main section.fc-search {
        padding: 5vh 1vw 1vw;
    }

    body.calendar main div.spinner {
        height: 1141px;
    }

    body.calendar main section.fc-search .fc-calendar-filters ul {
        height: 0;
        overflow: hidden;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-auto-rows: 1fr;
        position: absolute;
        z-index: 9;
        box-shadow: 0 2px 15px rgba(0 0 0 / 25%);
        left: 0;
        right: 0;
        top: 5vh;
        background: #fff;
        transition: height .2s ease-in;
    }

    body.calendar main section.fc-search .fc-calendar-filters ul.expanded {
        background: #fff;
        transition: height .2s ease-in;
        height: 650px;
        overflow: scroll;
        padding: 30px;
    }

    body.calendar main section .fc-theme-standard .fc-popover {
        width: auto;
    }

    body.calendar main section .fc-direction-ltr .fc-daygrid-event .fc-event-time {
        flex-basis: 40%;
    }
    
    body.calendar main section .fc .fc-h-event .fc-event-title-container {
        flex-basis: 90%;
    }
}




