.accordion-ml.block {
    background: var(--orange);
    height: 0;
    transition: height .25s ease-in;
    overflow: hidden;
}

details[open] > ul {
    margin-left: -1.8em;
}

.accordion-ml details ul {
    margin: 0;
}

.accordion-ml.block ul {
    margin-left: -2.2em;
    margin-top: 0;
}

.itemcolor2 {
    background-color: rgba(0 0 0 / 15%);
    font-family: var(--heading-font-family);
}

.itemcolor3 {
    background-color: rgba(0 0 0 / 30%);
    font-family: var(--heading-font-family);
    border-bottom: 1px solid rgba(0 0 0 / 15%);
}

.itemcolor4 {
    background-color: rgba(0 0 0 / 40%);
    font-family: var(--heading-font-family);
    border-bottom: 1px solid rgba(0 0 0 / 30%);
}

.accordion-ml details a {
    font-size: 14px;
    font-family: var(--heading-font-family);
    padding: 15px 60px 15px 15px;
}

.accordion-ml details > summary a {
    font-family: var(--heading-font-family);
}

.accordion-ml details a:any-link {
    color: white;
}

.accordion-ml details > summary.itemcolor2 a {
    font-family: var(--heading-font-family);
    flex-grow: 1;
}

.accordion-ml details summary:not(.itemcolor3):has(+ ul) a:any-link {
    border-bottom: 1px solid rgba(0 0 0 / 15%);
    flex-grow: 1;
}

.accordion-ml details:not(:has(ul)) summary > div {
    padding: 7px 7px 15px 0;
    border-bottom: 1px solid rgba(0 0 0 / 15%);
}

.accordion-ml details > summary {
    position: relative;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.3s;
    line-height: 1 !important;
}

.accordion-ml details>summary::-webkit-details-marker {
    display: none;
}

.accordion-ml details>summary:has(+ ul) > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.accordion-ml details>summary:has(+ ul) div.markerdiv {
    position: relative;
    width: 45px;
    margin-left: auto;
    background-color: rgba(0 0 0 / 15%);
    border-bottom: 1px solid rgba(0 0 0 / 30%);
}

.accordion-ml details>summary:has(+ ul) div.markerdiv::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 17px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    transition: transform .3s;
}

.accordion-ml details>summary:not(:has(+ ul)) div.markerdiv {
    display: none;
}

.accordion-ml details[open] > summary:has(+ ul) div.markerdiv::after {
    transform: translateY(-50%) rotate(-180deg);
}

@media (width >= 900px) {
    .accordion-ml.block {
        background: #c54b2a;
        display: block;
        height: auto;
        opacity: 1;
        overflow: visible;
    }

    .accordion-ml.block ul {
        margin-left: 0;
        padding-bottom: 34px;
    }

    .accordion-ml.block > div > div > ul.level0 {
        /* margin-right: -15px; */
        list-style-type: none;
        padding-left: 0;
    }

    .accordion-ml.block > div > div > li {
        position: relative;
        margin: 0;
        line-height: 1.3;
    }

    .accordion-ml.block > div > div > ul li {
        list-style-type: none;
        position: relative;
    }

    .accordion-ml.block > div > div > ul li ul {
        position: absolute;
        display: none;
        left: 100.3%;
        z-index: 999;
        background-color: var(--orange);
        top: 0;
        width: 200px;
        padding: 0;
    }

    .accordion-ml.block > div > div > ul li:hover > ul {
        display: block;
    }

    .accordion-ml.block > div > div > ul li a {
        font: 700 16px var(--body-font-family);
        text-decoration: none;
        color: #fff;
        line-height: 1.5;
        padding: 15.5px 35px;
        display: block;
    }

    .accordion-ml.block > div > div > ul li ul a {
        font-size: 14px;
        padding: 10px 15px;
    }

    .accordion-ml.block > div > div > ul li a:hover {
        background: var(--dark-orange);
    }

    .accordion-ml.block > div > div li:has(li:hover) {
        background: var(--dark-orange);
    }
}