header {
  height: var(--nav-height);
  background: transparent;
  transform: translateY(0);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all .3s;
}

iframe.skiptranslate {
  visibility: hidden !important;
}

.hidden {
  visibility: hidden !important;
}

.off {
  display: none;
}

header.mobile {
  position: absolute;
}

.top {
  top: 0 !important;
}

header.mobile + main {
  position: relative;
  top: 0;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
  transform: scale(0.9);
}

/* header and nav layout */
header .nav-wrapper {
  width: 100%;
  z-index: 2;
  position: fixed;
  height: 100%;
}

header nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  font-family: var(--body-font-family);
  padding: 0;
}

@media (width >=600px) {
  header nav {
    margin: 0;
    padding: 0 1rem;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header .nav-in-menu-wrap a {
  display: inline-block;
  font: 400 20px Oswald, serif;
  color: #000;
}


header nav a:any-link {
  color: currentcolor;
  font-weight: 650;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5vh;
  right: 3vh;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header:has(nav .nav-hamburger):has(button[aria-label="Open navigation"]) .section.nav-brand {
  border-bottom: 1px solid #fff;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 35px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: var(--white);
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 4px;
  border-radius: 2px;
  background: var(--white);
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -8px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 8px;
}

header .nav-search {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  font: 600 18px var(--body-font-family);
  padding-right: 4vw;
  justify-content: flex-end;
  background-color: var(--dark-orange);
  position: relative;
}

header .nav-search span {
  padding: 15px;
}

header nav .expanddiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header nav[aria-expanded="false"] .expanddiv {
  height: 0;
  overflow: hidden;
}

header nav[aria-expanded="true"] .expanddiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 1500px;
  overflow:hidden;
  transition: height 1s ease-in;
}


header nav .nav-language {
  display: flex;
  justify-content: flex-end;
  color: var(--white);
  align-items: center;
  margin: 15px;
  flex-direction: column;
}

header nav .nav-language .google-translate {
  display: none;
}

header nav .nav-language picture {
  display: flex;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 35px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 6px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 3px;
  width: 35px;
  height: 6px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  width: 100%;
}

header nav[aria-expanded="true"] .nav-sections {
  display: flex;
  visibility: visible;
  align-self: start;
  border-bottom: 1px solid #fff;
  width: 100%;
  justify-content: flex-end;
}

header nav[aria-expanded="true"] .nav-sections > div.default-content-wrapper {
  margin-right: 3vw;
}

header .tabs-panel ul {
  column-count: 2;
  column-gap: 60px;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  margin: 0;
  text-align: left;
}

header nav .nav-sections > div > ul > li {
  font-weight: 700;
  padding-top: 44px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

/* Mobile View Nav sections Start */

header nav .nav-sections:has(details) .default-content-wrapper {
  width: 100%;
  background-color: var(--dark-orange);
}

header .nav-tools .nav-language ul {
  padding: 15px;
  margin: 0;
  position: absolute !important;
  left: auto !important;
  right: 0 !important;
  top: 6vh !important;
  width: 200px;
  height: 314px;
  background: #fff;
  z-index: 9999999;
  overflow: auto;
  box-shadow: 0 2px 15px 0 rgba(0 0 0 / 20%);
  color: black;
  align-self: flex-end;
  font-size: 18px;
  font-family: var(--body-font-family);
  list-style-type: none;
  opacity: 0;
  transition: opacity .5s ease-out;
}

header .nav-tools .nav-language ul.show {
  opacity: 1;
}

header nav .nav-sections:has(details) .default-content-wrapper details ul {
  margin: 0;
}

header .nav-tools .nav-language ul:not(.show) {
  display: none;
}

header nav .nav-sections:has(details) .default-content-wrapper .itemcolor2 {
  background-color: rgba(0 0 0 / 15%);
  font-family: var(--heading-font-family);
}

header nav .nav-sections:has(details) .default-content-wrapper .itemcolor3 {
  background-color: rgba(0 0 0 / 30%);
  font-family: var(--body-font-family);
}

header .tabs-panel ul > li > a {
  text-wrap: wrap;
}

header .tabs-panel a:any-link {
  padding: 0;
  margin-bottom: 24px;
  font: normal 16px var(--heading-font-family);
  color: #000;
  text-decoration: underline;
}

header .nav-in-menu-wrap .tabs-tab a {
  font-weight: 400;
}

header nav .nav-sections:has(details) .default-content-wrapper details a {
  font-size: 14px;
  font-family: var(--heading-font-family);
  padding: 15px 60px 15px 15px;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary a {
  font-family: var(--body-font-family);
  font-weight: normal;
}

header .nav-sections strong > a:any-link:hover {
  text-decoration: none;
}

header .nav-tools .nav-language ul li.selected a {
  font-weight: 700 !important;
  color: var(--dark-orange) !important;
  text-decoration: none;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.3s;
}

header nav .nav-sections:has(details) .default-content-wrapper details a:any-link {
  color: var(--white);
}


header nav .nav-sections:has(details) .default-content-wrapper details:not(:has(ul)) summary > div {
  padding: 7px 60px 15px 0;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary.itemcolor2 a {
  font-family: var(--heading-font-family);
  font-weight: normal;
}

header nav .nav-sections:has(details) .default-content-wrapper details summary.itemcolor3 a {
  font-size: 12px;
}

header nav .nav-sections:has(details) .default-content-wrapper details summary:not(.itemcolor3):has(+ ul) a:any-link {
  border-bottom: 1px solid rgba(0 0 0 / 15%);
  flex-grow: 1;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary::-webkit-details-marker {
  display: none;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary:has(+ ul) > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary:has(+ ul) div.markerdiv {
  position: relative;
  width: 45px;
  margin-left: auto;
  background-color: rgba(0 0 0 / 15%);
  border-bottom: 1px solid rgba(0 0 0 / 30%);
}


header nav .nav-sections:has(details) .default-content-wrapper details > summary:has(+ ul) div.markerdiv::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--white);
  transition: transform .3s;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary:not(:has(+ ul)) {
  border-bottom: 1px solid rgba(0 0 0 / 15%);
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary:not(:has(+ ul)) div.markerdiv {
  display: none;
}

header nav .nav-sections:has(details) .default-content-wrapper details[open] > summary:has(+ ul) div.markerdiv::after {
  transform: translateY(-50%) rotate(-180deg);
}

/* Mobile View Nav sections End */

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-brand p {
  display: flex;
  align-items: center;
  justify-content: unset;
}

.scrolled:not(.mobile) {
  background: var(--dark-orange); /* Orange background when scrolled */
}

header .nav-tools button.translate-button {
  background-color: transparent;
  color: var(--white);
  border: 0;
  cursor: pointer;
  font: 400 16px var(--body-font-family);
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
}

header .nav-tools button.translate-button span {
  margin: 0 16px 0 0 !important;
  text-decoration: none !important;
  font-size: 18px;
  font-family: var(--heading-font-family);
}

header .nav-tools button.translate-button img {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  box-shadow: 0 2px 15px 0 rgba(0 0 0 / 20%);
  object-fit: cover;
}

header .nav-tools .nav-language {
  position: relative;
}

header .nav-search-icon {
  margin-right: 0;
}

header .nav-language-icon {
  margin-left: 13px;
  margin-right: 15px;
}

header .menuul {
  position: fixed;
  right: 110px;
  top: 100%;
  margin: 0;
  z-index: 210;
  display: none;
  width: 1134.66px;
  padding-top: 27px;
}

header .nav-in {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  padding: 0;
  background: var(--white);
  border-top: 10px solid transparent;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  border-color: var(--dark-orange);
}

header .nav-content {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 39px 13px 49px;
  border-bottom: 1px solid #bbb
}

header .nav-content-in {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

header .nav-page-title {
  font: 400 16px 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1;
  color: var(--dark-orange);
}

header .nav-close {
  font: 400 16px 'Open Sans', sans-serif !important;
  text-transform: capitalize !important;
  cursor: pointer;
  color: var(--dark-orange) !important;
}

header .nav-in-menu-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 505px;
  margin-top: 20px;
}

header .nav-drop[aria-expanded="true"] .menuul {
  display: block;
  height: auto; overflow-y: visible;
}

display-none {
  display: none;
}


header .nav-in-menu-wrap .tabs-list {
  float: left;
  gap: 8px;
  cursor: pointer;
  font: 400 32px Oswald,serif;
  border-right: 1px solid #bbb;
  width: 37%;
  min-width: 200px;
  padding: 0 0 0 39px;
}


header .nav-in-menu-wrap .tabs-list button {
  display: block;
  width: 100%;
  margin: 0;
  border-radius: 0;
  background-color: var(--white);
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  cursor: pointer;
  color: #000;
  position: relative;
}


header .nav-in-menu-wrap .tabs-list button[aria-selected="true"] {
  background-color: var(--light-color);
  border-bottom: 1px solid var(--background-color);

  /* background-color: var(--background-color); */
  cursor: pointer;
  color: var(--orange);
  text-decoration: underline;
}


header .nav-in-menu-wrap .tabs-list button::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 9px;
  border-color: transparent;
  border-left-color: var(--dark-orange);
  opacity: 0;
}

header .nav-in-menu-wrap .tabs-list button[aria-selected="true"]::after {
  opacity: 1;
}

header .nav-in-menu-wrap .tabs-list button[aria-selected="false"]:hover,
header .nav-in-menu-wrap .tabs-list button[aria-selected="false"]:focus {
  background-color: var(--dark-color);
}

header .tabs-panel {
  max-width: 60%;
}

header .nav-in-menu-wrap .tabs-panel {
  margin-top: -1px;
  overflow: auto;
  padding: 0 4.5% 108px;
}

header .nav-in-menu-wrap .tabs-panel[aria-hidden="true"] {
  display: none;
}

header .nav-in-menu-wrap p {
  display: block;
  font: 400 32px Oswald,serif;
  color: #000;
  padding-right: 160px;
  cursor: pointer;
  transition: all 300ms;
  position: relative;
  margin-bottom: 30px;
}

header .nav-bottom p {
  margin-top: 30px;
  font: normal 16px 'Open Sans',sans-serif;
  color: #000;
}

header .nav-in-menu-wrap .tabs-tab[aria-selected="true"] > p {
  color: var(--orange);
  text-decoration: underline;
}

header .nav-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 29px 0 46px;
  border-top: 2px solid #000;
  height: 80px;

}

#nav > div.section.nav-brand > div > p  picture:nth-child(1) {
  margin-left: 6px;
  margin-right: 20px;
}

#nav > div.section.nav-brand > div > p  picture:nth-child(2) {
  margin-right: 0;
}

#nav > div.section.nav-sections:not(:has(details)) {
  padding-left: 25px;
  padding-right: 15px;
}

/* CSS for search box */

header .nav-tools .nav-search .search-box {
  margin: 0 15px;
  width: calc(100% - 30px);
  text-align: left;
  border-color: var(--dark-orange);
  position: absolute;
  right: 0;
  left: 0;
  top: calc(100% + 100px);
  z-index: 10;
  background: #fff;
  border-top: 10px solid var(--dark-orange);
  margin-bottom: 0;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}

header .nav-tools .nav-search .search-box .search-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: normal 18px var(--heading-font-family);
  padding: 33px 50px 23px;
  border-bottom: 1px solid #bbb;
  color: var(--dark-orange);
  cursor: default;
}

header .nav-tools .nav-search .search-box .search-top-right {
  cursor: pointer;
}

header .nav-tools .nav-search .search-box .search-top .search-top-left {
  margin-right: 20px;
}

header .nav-tools .nav-search .search-box .search-form-wrap {
  position: relative;
}

header .nav-tools .nav-search .search-box .search-form-wrap form {
  margin-bottom: 0;
}

header .nav-tools .nav-search .search-box .search-form-wrap form label {
  margin-bottom: 0;
  display: block;
  font-weight: bold;
  font-size: 13px;
}

header .nav-tools .nav-search .search-box .search-form-wrap input {
  width: 100%;
  height: 60px;
  padding: 0 50px 0 48px;
  font: normal 55px 'Editorial New', serif;
  color: #D9D9D9;
  background: #fff;
  border: none;
  outline: none;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

header .nav-tools .nav-search .search-box .search-form-wrap button {
  display: none;
}

header .nav-tools .nav-search .search-box .search-middle {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #C6C6C6;
  margin-top: 27px;
  margin-bottom: 50px;
}

header .nav-tools .nav-search .search-box .search-middle .search-middle-left {
  width: 100%;
  padding: 34px 46px;
}

header .nav-tools .nav-search .search-box .search-middle .search-middle-left h2 {
  font: 500 36px var(--heading-font-family);
  margin-bottom: 50px;
  color: var(--dark-orange);
}

header .nav-tools .nav-search .search-box .search-middle .search-middle-left ul.popular-searches-list {
  list-style: none;
  padding: 0;
  margin: 0;
  columns: 2;
  column-gap: 30px;
}

/* CSS for Search Results */

header .nav-tools .nav-search .search-box .search-form-wrap .search-results .search-nav li {
  display: table-cell;
  float: none;
  width: 100%;
  background: #eee;
  color: #000;
  text-align: center;
  padding: 14px 0;
  border-right: 2px solid #c7d1d8;
  cursor: pointer;
  position: relative;
  pointer-events: fill;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 7px;
  font-family: var(--heading-font-family);
 }

header .nav-tools .nav-search .search-box .search-middle .search-middle-left ul.popular-searches-list li {
  display: block;
  page-break-inside: avoid;
  margin-bottom: 9px;
}

header .nav-tools .nav-search .search-box .search-middle .search-middle-left ul.popular-searches-list li a {
  display: inline-block;
  font: normal 18px var(--heading-font-family);
  color: #000;
  text-decoration: underline;
}

header .nav-tools .nav-search .search-box .search-form-wrap .search-results {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  background: #f3ecda;
  box-shadow: rgba(0 0 0 0.3) 0 10px 15px 0;
  z-index: 10;
 }

 header .nav-tools .nav-search .search-box .search-form-wrap .search-results .search-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background: #fff;
 }

 header .nav-tools .nav-search .search-box .search-form-wrap .search-results .search-nav li:active {
  background: #ddd;
 }

 header .nav-tools .nav-search .search-box .search-form-wrap .search-results .search-nav li.close-curated {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: -36px;
  float: none !important;
  background: none;
  width: auto !important;
  color: #000;
  font-size: 35px;
  border: 0 !important;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-align: center;
  font-weight: 500;
  pointer-events: fill;
 }

 header .nav-tools .nav-search .search-box .search-form-wrap .search-results .search-nav li.close-curated .fa-close {
  color: #ccc;
 }

 header .nav-tools .nav-search .search-box .search-form-wrap .search-results .tab-content {
  background: #fff;
  max-height: 800px;
  min-height: 600px;
  overflow: auto;
 }

 header .nav-tools .nav-search .search-box .search-form-wrap .search-results .tab-content .tab-pane {
  padding: 30px;
 }

 header .nav-tools .nav-search .search-box .search-form-wrap .search-results .tab-content .tab-pane h2 {
  font-size: 42px;
  color: #000;
  font-weight: 700;
  text-align: left;
  margin: 0 0 10px;
 }

 header .nav-tools .nav-search .search-box .search-form-wrap .search-results .tab-content .tab-pane .g-search-wrap iframe {
  height: 1600px;
  border: 0 !important;
  width: 100%;
 }

@media (width >= 991px) {
  header {
    border-bottom: 1px solid #fff;
  }

  header .menuul {
    width: 800px;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: var(--nav-height);
  }

  header nav .nav-language {
    flex-direction: row;
  }

  header nav .expanddiv {
    flex-direction: row;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }

  header nav[aria-expanded="true"] .expanddiv {
    display: flex;
    flex-direction: row;
    height: auto;
    overflow:visible;
  }

  header nav .nav-tools {
    flex-direction: row;
    width: auto;
    align-items: center;
  }

  header .nav-search {
    background-color: transparent;
    padding: 0;
    position: static;
  }

  /* CSS for Search Box */

  header .nav-tools .nav-search .search-box {
    border-color: var(--dark-orange);
    position: absolute;
    right: 0;
    left: 0;
    top: calc(100% + 27px);
    z-index: 10;
    width: 100%;
    background: #fff;
    border-top: 10px solid var(--dark-orange);
    margin-bottom: 0;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  }

  header .nav-tools .nav-search .search-box .search-top .search-top-left {
    margin-right: 20px;
  }

  header .nav-tools .nav-search .search-box .search-middle .search-middle-left {
    width: 43.5%;
    padding: 34px 46px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font: 700 14px 'Open Sans',sans-serif;
    color: #fff;
    min-width: 140px;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 0;
    justify-content: space-around;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }

  header nav .nav-tools .nav-language {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }

  header nav .nav-tools .nav-language picture {
    display: flex;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
  
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav .section.nav-sections {
    border-bottom: none;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    height: var(--nav-height);
  }

  header nav .nav-sections .nav-drop::after {
    content: "";
    position: absolute;
    top: 48%;
    right: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--white);
    transition: transform .3s;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(-180deg);
  }

  header nav .nav-sections > div > ul {
    display: flex;
    margin: 0;
    font-size: var(--body-font-size-xs);
    align-items: center;
  }

  header .nav-tools .nav-language ul {
    padding: 15px;
    margin: 0;
    position: absolute !important;
    left: auto !important;
    right: 0 !important;
    top: 7vh !important;
    width: 200px;
    height: 314px;
    background: #fff;
    z-index: 9999999;
    overflow: auto;
    box-shadow: 0 2px 15px 0 rgba(0 0 0 / 20%);
    color: black;
    opacity: 0;
    transition: opacity .5s ease-out;
  }

  header .nav-tools .nav-language ul.show {
    opacity: 1;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header .nav-tools .nav-language ul:not(.show) {
    display: none;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  #nav > div.section.nav-brand > div > p  picture:nth-child(2) {
    margin-right: 50px;
  }
}

@media (width <= 1480px) {
  header nav a:any-link {
    text-wrap: pretty;
  }
}

@media (width >= 1200px) {
  header nav .nav-sections .nav-drop::after {
    right: 1vw;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    padding-right: 3vw;
    font: 700 16px 'Open Sans',sans-serif;
  }

  header .menuul {
    width: 1134.66px;
  }
}