header {
  height: var(--nav-height);
  background: transparent;
  transform: translateY(0);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all .3s;
}

header.mobile {
  position: relative;
}

header.mobile + main {
  position: absolute;
  top: 0;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
  transform: scale(0.9);
}

/* header and nav layout */
header .nav-wrapper {
  width: 100%;
  z-index: 2;
  position: fixed;
  height: 100%;
}

header nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  font-family: var(--body-font-family);
  padding: 0;
}

header nav[aria-expanded="true"] {
  overflow-y: auto;
}

@media (width >=600px) {
  header nav {
    margin: 0;
    padding: 0 1rem;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header .nav-in-menu-wrap a {
  display: inline-block;
  font: 400 20px Oswald, serif;
  color: #000;
}


header nav a:any-link {
  color: currentcolor;
  font-weight: 650;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5vh;
  right: 5vh;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header:has(nav .nav-hamburger):has(button[aria-label="Open navigation"]) .section.nav-brand {
  border-bottom: 1px solid #fff;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 35px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: var(--white);
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 4px;
  border-radius: 2px;
  background: var(--white);
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -8px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 8px;
}

header .nav-search {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  font: 600 18px var(--body-font-family);
  padding-right: 4vw;
  justify-content: flex-end;
  background-color: var(--dark-orange);
}

header .nav-search span {
  padding: 15px;
}

header nav .expanddiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header nav[aria-expanded="false"] .expanddiv {
  transition: height 0.5s ease-in-out;
  transition-behavior: allow-discrete;
  display: none; 
}

header nav[aria-expanded="true"] .expanddiv {
  display: flex;
}


header nav .nav-language {
  display: flex;
  justify-content: flex-end;
  color: var(--white);
  align-items: center;
  margin: 15px;
}

header nav .nav-language picture {
  display: flex;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 35px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 6px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 3px;
  width: 35px;
  height: 6px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  width: 100%;
}

header nav[aria-expanded="true"] .nav-sections {
  display: flex;
  visibility: visible;
  align-self: start;
  border-bottom: 1px solid #fff;
  width: 100%;
  justify-content: flex-end;
}

header nav[aria-expanded="true"] .nav-sections > div.default-content-wrapper {
  margin-right: 0;
}

header .tabs-panel ul {
  column-count: 2;
  column-gap: 60px;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  margin: 0;
}

header nav .nav-sections > div > ul > li {
  font-weight: 700;
  padding-top: 44px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

/* Mobile View Nav sections Start */

header nav .nav-sections:has(details) .default-content-wrapper {
  width: 100%;
  background-color: var(--dark-orange);
}

header nav .nav-sections:has(details) .default-content-wrapper details ul {
  margin: 0;
}

header nav .nav-sections:has(details) .default-content-wrapper .itemcolor2 {
  background-color: rgba(0 0 0 / 15%);
  font-family: var(--heading-font-family);
}

header nav .nav-sections:has(details) .default-content-wrapper .itemcolor3 {
  background-color: rgba(0 0 0 / 30%);
  font-family: var(--body-font-family);
}

header .tabs-panel ul > li > a {
  text-wrap: wrap;
}

header .tabs-panel a:any-link {
  padding: 0;
  margin-bottom: 24px;
  font: normal 16px 'Open Sans',sans-serif;
  color: #000;
  text-decoration: underline;
}

header .nav-in-menu-wrap .tabs-tab a {
  font-weight: 400;
}

header nav .nav-sections:has(details) .default-content-wrapper details a {
  font-size: 14px;
  font-family: var(--heading-font-family);
  padding: 15px 60px 15px 15px;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary a {
  font-family: var(--body-font-family);
  font-weight: normal;
}

header .nav-sections strong > a:any-link:hover {
  text-decoration: none;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.3s;
}

header nav .nav-sections:has(details) .default-content-wrapper details a:any-link {
  color: var(--white);
}


header nav .nav-sections:has(details) .default-content-wrapper details:not(:has(ul)) summary > div {
  padding: 7px 60px 15px 0;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary.itemcolor2 a {
  font-family: var(--heading-font-family);
  font-weight: normal;
}

header nav .nav-sections:has(details) .default-content-wrapper details summary.itemcolor3 a {
  font-size: 12px;
}

header nav .nav-sections:has(details) .default-content-wrapper details summary:not(.itemcolor3):has(+ ul) a:any-link {
  border-bottom: 1px solid rgba(0 0 0 / 15%);
  flex-grow: 1;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary::-webkit-details-marker {
  display: none;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary:has(+ ul) > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary:has(+ ul) div.markerdiv {
  position: relative;
  width: 45px;
  margin-left: auto;
  background-color: rgba(0 0 0 / 15%);
  border-bottom: 1px solid rgba(0 0 0 / 30%);
}


header nav .nav-sections:has(details) .default-content-wrapper details > summary:has(+ ul) div.markerdiv::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--white);
  transition: transform .3s;
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary:not(:has(+ ul)) {
  border-bottom: 1px solid rgba(0 0 0 / 15%);
}

header nav .nav-sections:has(details) .default-content-wrapper details > summary:not(:has(+ ul)) div.markerdiv {
  display: none;
}

header nav .nav-sections:has(details) .default-content-wrapper details[open] > summary:has(+ ul) div.markerdiv::after {
  transform: translateY(-50%) rotate(-180deg);
}

/* Mobile View Nav sections End */

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-brand p {
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 1rem; */
}

.scrolled:not(.mobile) {
  background: var(--dark-orange); /* Orange background when scrolled */
}

#nav > div.section.nav-tools > div > p.button-container > a {
  background-color: transparent;
  color: var(--white);
}

header .nav-search-icon {
  margin-right: 0;
}

header .nav-language-icon {
  margin-left: 13px;
  margin-right: 15px;
}

header .menuul {
  position: fixed;
  right: 110px;
  top: 100%;
  margin: 0;
  z-index: 210;
  display: none;
  width: 1134.66px;
  padding-top: 27px;
}

header .nav-in {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  padding: 0;
  background: var(--white);
  border-top: 10px solid transparent;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  border-color: var(--dark-orange);
}

header .nav-content {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 39px 13px 49px;
  border-bottom: 1px solid #bbb
}

header .nav-content-in {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

header .nav-page-title {
  font: 400 16px 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1;
  color: var(--dark-orange);
}

header .nav-close {
  font: 400 16px 'Open Sans', sans-serif !important;
  text-transform: capitalize !important;
  cursor: pointer;
  color: var(--dark-orange) !important;
}

header .nav-in-menu-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 505px;
  margin-top: 20px;
}

header .nav-drop[aria-expanded="true"] .menuul {
  display: block;
  height: auto; overflow-y: visible;
}

display-none {
  display: none;
}


header .nav-in-menu-wrap .tabs-list {
  float: left;
  gap: 8px;
  cursor: pointer;
  font: 400 32px Oswald,serif;
  border-right: 1px solid #bbb;
  width: 37%;
  min-width: 200px;
  padding: 0 0 0 39px;
}


header .nav-in-menu-wrap .tabs-list button {
  display: block;
  width: 100%;
  margin: 0;
  border-radius: 0;
  background-color: var(--white);
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  cursor: pointer;
  color: #000;
  position: relative;
}


header .nav-in-menu-wrap .tabs-list button[aria-selected="true"] {
  background-color: var(--light-color);
  border-bottom: 1px solid var(--background-color);

  /* background-color: var(--background-color); */
  cursor: pointer;
  color: var(--orange);
  text-decoration: underline;
}


header .nav-in-menu-wrap .tabs-list button::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 9px;
  border-color: transparent;
  border-left-color: var(--dark-orange);
  opacity: 0;
}

header .nav-in-menu-wrap .tabs-list button[aria-selected="true"]::after {
  opacity: 1;
}

header .nav-in-menu-wrap .tabs-list button[aria-selected="false"]:hover,
header .nav-in-menu-wrap .tabs-list button[aria-selected="false"]:focus {
  background-color: var(--dark-color);
}

header .tabs-panel {
  max-width: 60%;
}

header .nav-in-menu-wrap .tabs-panel {
  margin-top: -1px;

  /* border: 1px solid var(--dark-color); */
  overflow: auto;
  padding: 0 4.5% 108px;
}

header .nav-in-menu-wrap .tabs-panel[aria-hidden="true"] {
  display: none;
}

header .nav-in-menu-wrap p {
  display: block;
  font: 400 32px Oswald,serif;
  color: #000;
  padding-right: 160px;
  cursor: pointer;
  transition: all 300ms;
  position: relative;
  margin-bottom: 30px;
}

header .nav-bottom p {
  margin-top: 30px;
  font: normal 16px 'Open Sans',sans-serif;
  color: #000;
}

header .nav-in-menu-wrap .tabs-tab[aria-selected="true"] > p {
  color: var(--orange);
  text-decoration: underline;
}

header .nav-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 29px 0 46px;
  border-top: 2px solid #000;
  height: 80px;

}


@media (width >= 900px) {
  header {
    border-bottom: 1px solid #fff;
  }

  header .menuul {
    width: 800px;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: var(--nav-height);
  }

  header nav .expanddiv {
    flex-direction: row;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }

  header .nav-search-icon {
    margin-right: 20px;
  }

  header nav .nav-tools {
    flex-direction: row;
    width: auto;
  }

  header .nav-search {
    background-color: transparent;
    padding: 0;
  }

  header nav .nav-tools .nav-language {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }

  header nav .nav-tools .nav-language picture {
    display: flex;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
  
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav .section.nav-sections {
    border-bottom: none;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    height: var(--nav-height);
  }

  header nav .nav-sections .nav-drop::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 17px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--white);
    transition: transform .3s;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(-180deg);
  }

  header nav .nav-sections > div > ul {
    display: flex;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;

    /* font-weight: 500; */
    font: 700 14px 'Open Sans',sans-serif;
    color: #fff;
    padding-right: 2vw;
    min-width: 140px;
    flex-grow: 1;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }

  #nav > div.section.nav-brand > div > p  picture:nth-child(2) {
    margin-right: 50px;
  }
}

@media (width <= 1480px) {
  header nav a:any-link {
    text-wrap: pretty;
  }
}

@media (width >= 1200px) {
  header nav .nav-sections .default-content-wrapper > ul > li {
    padding-right: 3vw;
    font: 700 16px 'Open Sans',sans-serif;
  }

  header .menuul {
    width: 1134.66px;
  }
}

#nav > div.section.nav-brand > div > p  picture:nth-child(1) {
  margin-left: 6px;
  margin-right: 20px;
}

#nav > div.section.nav-brand > div > p  picture:nth-child(2) {
  margin-right: 0;
}

#nav > div.section.nav-sections:not(:has(details)) {
  padding-left: 25px;
  padding-right: 15px;
}