.hotline.block {
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
}

.hotline-search-form {
    border: 1px solid #6a6a6a;
    display: block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;

    input {
        height: 45px;
        width: 100%;
        padding-right: 112px;
    }
}

.tag-container {
    padding: 0;
    font-size: 20px;
    list-style: none;

    li {
        border: 1px solid #182946;
        background: #182946;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
        margin: 0 15px 15px 0;
        display: inline-block;
        line-height: 1.3;
        font-size: var(--body-font-size-xs);
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }

    .selected-category {
        border: 1px solid #FC3600;
        background: #FC3600;
    }
}

.business-list {
    padding-left: 20px;
    background-color: #fff;
    border: 0 !important;

    .business-block {
        border-bottom: 1px solid rgb(0 0 0 / 20%);
        padding-bottom: 30px;
        padding-top: 20px;
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
        transition: all .2s ease;

        .accordion-item {
            summary {
                position: relative;
                padding: 0 16px;
                padding-right: 46px;
                cursor: pointer;
                list-style: none;
                overflow: auto;
                transition: background-color 0.2s;
                text-align: center;
                margin: auto;

                @media (width >=600px) {
                    width: 50%;
                }

                @media (width >=900px) {
                    width: 40%;
                }

                @media (width >=1200px) {
                    width: 30%;
                }

                @media (width >=1500px) {
                    width: 22%;
                }

                p {
                    margin: 0;
                    padding: 0;
                    text-decoration: underline;
                    color: var(--link-color);
                    font-size: 16px;
                }

                &::-webkit-details-marker {
                    display: none;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 70px;
                    transform: translateY(-50%) rotate(135deg);
                    width: 7px;
                    height: 7px;
                    border: 3px solid;
                    border-width: 3px 3px 0 0;
                    transition: transform 0.2s;
                    color: var(--link-color);
                }
            }

            .accordion-item-body {
                padding: 0 16px;

                & > ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    list-style-type: none;

                    & li {
                        list-style-type: none;
                    }
                }

                & ul {
                    padding: 0;
                    margin-top: 40px;
                    margin-bottom: 30px;
                }
            }

            &[open] {
                summary::after {
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }

        .business-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            overflow: hidden;

            @media (width >=900px) {
                height: 200px;
            }

            @media (width <=900px) {
                flex-direction: column;
                height: fit-content;
            }

            & > * {
                box-sizing: border-box;
            }

            .business-image {
                background-size: 350px 100%;
                border-radius: 5px;
                overflow: hidden;
                position: relative;
                max-width: 350px;
                flex-basis: 25%;
                padding: 0 20px;

                .category {
                    padding: 10px;
                    margin: 0;
                    z-index: 3;
                    position: relative;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    display: inline-block;
                    color: #fff;
                    font-size: 11px;
                    font-weight: bold;
                }

                &::after {
                    content: "";
                    z-index: 1;
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(to bottom, rgb(2 16 37 / 96%) 0%, rgb(126 133 144 / 4%) 49%, rgb(255 255 255 / 4%) 100%);
                }
            }

            .business-contacts {
                padding: 0 20px;
                float: left;
                flex-basis: 33%;
                word-break: break-word;


                p {
                    margin: unset;

                    img {
                        width: 20px;
                    }

                    a:any-link {
                        text-align: left;
                        color: #1d5398;
                        font-size: var(--body-font-size-xs);
                        padding: unset;
                        margin: unset;
                        vertical-align: text-bottom;
                        background-color: transparent;
                        text-decoration: none;

                        span {
                            vertical-align: middle;
                        }
                    }
                }

            }

            .business-info {
                min-height: 0;
                transition: all .2s ease;
                flex-basis: 42%;
                padding: 0 20px;

                h2 {
                    margin: 0 0 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 21px;
                }

                p {
                    margin-top: 14px;

                    a:any-link {
                        color: #1d5398;
                        padding: unset;
                        margin: unset;
                        background-color: transparent;
                    }
                }

                p:first-of-type {
                    height: auto;
                    font-size: 14px !important;
                    padding: 0;
                    line-height: 20px !important;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #222;
                    word-break: break-word;
                }
            }
        }
    }
}