*, ::after, ::before {
    box-sizing: border-box;
}

main .mainmenu {
    display: flex; 
    flex-direction: column; 
    padding: 34px;
}

main .mainmenu .leftsection {
    /* padding: 33px 15px 15px; */
    color: white;
}

main .mainmenu .leftsection > .default-content-wrapper > h2 {
    display: none;
}

main .mainmenu .leftsection>.default-content-wrapper>p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 15px;
    font: 700 18px var(--heading-font-family);
    background: #C54B2A;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

body > main .section.rightsection.biography {
  img {
    padding-right: 10px;
    width: 265px;
    float: left;
  }

  h4 + p {
    margin-top: 0 !important;
  }

  p:not(:first-child) {
    margin-top: 4em;
  }

  h4 {
    font: 500 35px 'Neue Montreal',sans-serif;
    color: #000;
  }
}

.team .icon {
  line-height: inherit;

  /* stylelint-disable no-descending-specificity */
  img {
    margin-block: -5px;
  }
}

main .section.rightsection.no-button a:any-link {
    color: var(--no-button-link);
    background-color: transparent;
    text-decoration: underline;
}

main .mainmenu .leftsection > .default-content-wrapper:has(p.active) + .accordion-ml-wrapper > .block.accordion-ml.active {
    height: var(--height);
    transition: height .5s ease-in;
}

@media (width >=900px) {
    main .rightsection {
        padding: 50px 50px 60px;
    }
    
    main .mainmenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        padding: 0;
    }

    main .mainmenu .leftsection {
        /* padding: 33px 15px 15px; */
        flex: 0 0 22%;
        max-width: 400px;
        background-color: var(--orange);
    }

    main .mainmenu .leftsection > .default-content-wrapper > p {
        display: none;
    }

    main .mainmenu .leftsection > .default-content-wrapper > h2 {
        display: block;
        font: 700 24px var(--heading-font-family);
        color: #fff;
        text-transform: uppercase;
        padding: 75px 10px 11px 15px;
        margin-bottom: 8px;
    }

    main .mainmenu .rightsection {
        width: 100%;
        flex: 100%;
        padding: 50px 50px 60px;
    }
}

.h2underline h2 {
    border-bottom: 5px solid #312422;
    padding-bottom: 5px;
}

.default-no-padding-bottom .default-content-wrapper {
    padding-bottom: unset !important;
}

.default-no-padding-top .default-content-wrapper {
    padding-top: unset !important;
}

.image-right .default-content-wrapper p:nth-child(1) img {
        float: right;
        width: 20%;
}

.ul-no-padding ul {
    margin-bottom: unset;
    margin-top: unset;
}

.line-break.block {
    border: solid #ccc;
    border-width: 1px 0 0;
    margin: 0 50px;
}

.image-1-center .default-content-wrapper {
    picture:first-of-type {
        display: flex;
        justify-content: center;

        img{
            width: 30%;
        }
    }
}
