.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero.text {
  background: url('../../images/section-top-bg.png') left bottom/cover no-repeat;
  padding: 1px 0 4px 15px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .hero.text p {
  font: 385 48px var(--heading-font-family);
  color: #fff;
  line-height: 1;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }

  main .hero.text {
    min-height: 128px;
    top: 0;
  }
}