.agendadetail {

    @media (width >= 900px) {
        padding: 50px 0 60px 15px;
    }

    h3 {
        margin-top: unset;
        font-weight: unset;
        padding-bottom: 5px;
    }

    a {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 991px) {
    .agendadetail {
        padding: 10px 34px;
    }
}