.newslist.block label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: .5rem;
    line-height: 1.7;
    font-family: var(--heading-font-family);
}

.newslist.block #news-filter {
    margin-bottom: 20px;
    border: 1px solid #e9eaec;
    padding: 10px 14px;
    outline: none;
    font-size: 13px;
    font-family: sans-serif;
    color: #777;
    display: inline-block;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    word-wrap: normal;
    text-transform: none;
}

.newslist.block .news {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #dedede;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    line-height: 1.7;
    font-family: var(--heading-font-family);
    font-size: var(--body-font-size-m);
}

.newslist.block .news .card-right > a {
    text-decoration: none !important;
}

.newslist.block .columns-wrapper ul.pagination a {
    border-right: 1px solid #eee;
    padding: 7px 20px;
    color: var(--default-button);
}

.newslist.block .news .card-right > a:hover {
    color: #000 !important;
    text-decoration: underline !important;
}

.newslist.block .columns-wrapper:has(ul.pagination) {
    margin-top: 0;
}

.newslist.block .columns-wrapper ul.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    list-style: none;
    flex-wrap: wrap;
    gap: 1px;
    row-gap: 20px;

    .notvisible {
        display: none;
    }

    li:nth-of-type(2) a {
        border-left: 1px solid #eee;
    }

    li.page {
        background-color: #6c757d;
        background-repeat: no-repeat;
        background-position: center;
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-mask: url('/icons/search-arrow.svg') no-repeat center;
        mask: url('/icons/search-arrow.svg') no-repeat center;
    }

    li.prev.page {
        /* Horizontal flip the image */
        transform: scaleX(-1);
    }

    li.page.disabled {
        background-color: #bcbcbc;
    }

    li a:hover,
    li.active a {
        background-color: var(--default-button);
        border-color: var(--default-button);
        color: #fff;
    }

    li.page.disabled a:hover {
        background-color: inherit;
    }
}

.newslist.block .news > div:first-child {
    flex-basis: 10%;
}

.newslist.block .news > div:last-child {
    flex-basis: 90%;
}

.newslist.block .news .card-left {
    width: 150px;
    height: 150px;
    margin: 0 15px 0 0 !important;
    background: top center no-repeat;
    background-size: cover;
}

.newslist.block .news .card-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newslist.block .news .card-right .readmore {
    font-weight: bold;
}

.newslist.block .news .card-right > div:first-child {
    font-size: var(--heading-font-size-s);
}

.newslist.block .news .card-right > a h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 6px;
    color: #000 !important;
}

.newslist.block .news .card-right > a .description {
    font-size: var(--heading-font-size-s);
    color: #000 !important;
    margin-bottom: 10px;
    text-decoration: none;
}

