.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
}

.table table tbody tr {
  border-bottom: 1px solid #dadada;
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: 0.5em;
  text-align: left;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid #dadada;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--light-color);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid #dadada;
}

.table.col1-50 table tbody tr td{
  width: 50%;
}

.table.type2border {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #e67e23;
        margin-top: 30px;

        /* stylelint-disable no-descending-specificity */
        tr {
            border-collapse: collapse;
            border-bottom: 1px solid #e67e23;
            border-top-color: #e67e23 !important;

            th, td {
                padding: 8px;
                text-align: left;

                p {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
        }

        tr:last-child {
            border-bottom: none;
        }

        td:has(picture) {
            width: 25%;
        }
    }
}

.table.no-border table {
    width: 100%;
    padding-top: 0;

    tbody tr {
        border-collapse: collapse;
        border: none;

        td {
            text-align: left;
            vertical-align: middle;

            p {
                margin: 0 0 30px;

                img {
                    max-width: 100%;
                    height: auto;
                    padding-top: 30px;
                }
            }
        }
    }
}

.table.colored {
    table {
        border-collapse: collapse;
        width: 100%;
        border-style: solid;
        border-width: 3px;

        tr > td:first-child {
            width: 25%;
        }

        tr > td {
            width: 75%;
        }
    }
}

.table.green {
    table {
        background-color: #d5ebce;
        border-color: #169179;

        td, th {
            border: 1px solid #169179;
        }
    }
}
