.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

/* Adding Table head background color */
.table.thbc1 thead {
  background-color: var(--table-head-background-color1);
}

.table.thbc2 thead {
  background-color: var(--table-head-background-color2);
}

.table.thbc3 thead {
  background-color: var(--table-head-background-color3);
}

.table.thbc4 thead {
    background-color: var(--table-head-background-color4);
    color:white;
  }

.table.thbc5 thead {
  background-color: var(--table-head-background-color5);
}

.table.thbc6 thead {
    background-color: var(--table-head-background-color6);
  }
  
.table.thbc7 thead {
    background-color: var(--table-head-background-color7);
  }
  
@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table:not(.cards) table thead tr {
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
}

.table:not(.cards) table tbody tr {
  border-bottom: 1px solid #dadada;
}

.table table th {
  font-weight: 700;
}

.table:not(:has('center')) table th,
.table:not(:has('center')) table td {
  padding: 0.5em;
  text-align: left;
}

.table.parks {
    color: var(--special-parks-purple);
}

.table.parks td {
    padding: 2em;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

.table.no-boundary table tbody tr,.table.no-boundary table thead tr{
    border: none;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid #dadada;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
    background-color: var(--light-color);
}
  
  /* cards behavior */
.table.no-header.cards table tbody tr {
    border-top: 0;
    border-bottom: 0;
}

main .mainmenu .rightsection .table.no-header.cards.withimages {
    padding: 20px 30px 30px;
    background-color: var(--table-backgroubd-color1);
}

main .mainmenu .rightsection .table.no-header.cards.withimages td p {
    padding: 5px;
}

main .mainmenu .rightsection .table.no-header.cards.withimages table tbody tr img {
    min-width: 8vw;
    width: 100%;
    height: 100%;
}

main .mainmenu .rightsection .table.no-header.cards.withimages.height-300 table tbody tr img {
    height: 300px;
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid #dadada;
}

.table.col1-50 table tbody tr td{
  width: 50%;
}

.table.col1-70 table tbody tr td:first-child{
    width: 70%;
}

.table.col1-15 table tbody tr {
    td:first-child {
        width: 15%;
    }
}

.table.col1-30 table tbody tr {
    td:first-child {
        width: 30%;
    }
}

.table.type2border {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #e67e23;
        margin-top: 30px;

        /* stylelint-disable no-descending-specificity */
        tr {
            border-collapse: collapse;
            border-bottom: 1px solid #e67e23;
            border-top-color: #e67e23 !important;

            th, td {
                padding: 8px;
                text-align: left;

                p {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
        }

        tr:last-child {
            border-bottom: none;
        }

        td:has(picture):first-child {
            width: 25%;
        }
    }
}

.table.no-border table {
    width: 100%;
    padding-top: 0;

    tbody tr {
        border-collapse: collapse;
        border: none;

        td {
            text-align: left;
            vertical-align: middle;

            p {
                margin: 0 0 30px;

                img {
                    max-width: 100%;
                    height: auto;
                    padding-top: 30px;
                }
            }
        }
    }
}

.table.colored {
    table {
        border-collapse: collapse;
        width: 100%;
        border-style: solid;
        border-width: 3px;

        tr > td:first-child {
            width: 25%;
        }

        tr > td {
            width: 75%;
        }

        tr > td > p {
            margin: 1em;
        }
    }
}

.table.green {
    table {
        background-color: #d5ebce;
        border-color: gray;

        td, th {
            border: 1px solid gray;
        }
    }
}

.table.light-brown {
  table {
      background-color: #efe6dc;
      border-color: gray;

      td, th {
          border: 1px solid gray;
      }
  }
}

.table.yellow {
  table {
      background-color: #f5e7b8;
      border-color: gray;

      td, th {
          border: 1px solid gray;
      }
  }
}

.table.light-blue {
  table {
      background-color: #c2e0f4;
      border-color: gray;

      td, th {
          border: 1px solid gray;
      }
  }
}

.table.gray {
  table {
      background-color: #ced4d9;
      border-color: gray;

      td, th {
          border: 1px solid gray;
      }
  }
}

.table.seashell {
    table {
        background-color: #ecf0f1;
        border-color: gray;
  
        td, th {
            border: 1px solid gray;
        }
    }
}

.table.almond {
    table {
        background-color: #F5DFC3;
        border-color: gray;
  
        td, th {
            border: 1px solid gray;
        }
    }
}

.table.agenda {
  table {
      font-size: var(--body-font-size-xs);

      td {
          padding: 0;

          &:nth-child(1) {
              width: 40%;
          }

          &:nth-child(2) {
              width: 10%;
          }

          &:nth-child(3) {
              width: 10%;
          }

          &:nth-child(4) {
              width: 10%;
          }

          &:nth-child(5) {
              width: 10%;
          }

          &:nth-child(6) {
              width: 10%;
          }

          &:nth-child(7) {
              width: 10%;
          }
      }

      a {
          font-weight: 400;
          padding: 0;
          margin: 0;
          color: var(--no-button-link);
          background-color: transparent;
          text-decoration: underline;
          border: 0;
      }
  }
}

.table.align-top table td{
    vertical-align: top !important;

    h2 {
        margin-top: unset !important;
    }
}

.table.align-center table td{
    text-align: center !important;
}

.table.align-center-col1 table td:first-of-type{
    text-align: center !important;
}

.table.extra-padding table td{
    padding: 15px;
}

.table.same-width-column table {
    table-layout: fixed;
}

.table.heavy-border table {
    border-color: #000;
    border-style: solid;
    border-width: 5px;
}

.table.width-50 table td{
    width: 50%;
}

.table.ai-assistant-text table {
    font-size: 36px;
    color: #c64b2a;
    font-weight: bold;

    img {
        width: 100%;
    }

    a {
        font-size: 24px;
        color: #c64b2a !important;
        margin: 0;
        padding: 0;
    }
}

.table.same-height-img table img {
    height: 325px;
    width: auto;
    margin: 5px;
}

.table.height-img-200 table tbody tr td picture img {
    height: 200px;
    width: auto;
    padding: unset;
}

.table.img-300-right table tbody tr td picture img {
    height: 200px;
    width: 300px;
    float: right;
}


.table.fees table {
    width: 50%;

    tbody tr td {
        padding: 0;

        p {
            margin: unset;
        }
    }
}

.table.width-65 table {
    width: 65%;

    tbody tr td p {
        margin: unset;
    }
}

.table.no-padding table tbody tr td p {
    padding: 0;
    margin: 0;
}

.table.fixed-img-150 img{
    width: 150px;
}

.table.fixed-img-170 img{
    width: 170px;
}

.table.col-odd-15 table tbody tr {
    td:nth-child(odd) {
        width: 15%;
    }
}

.table.commissioners {
    table {
        align-content: center;
        width: 60%;
        border-collapse: collapse;
        text-align: center;
        vertical-align: center;
        margin-left: 260px;
        margin-right: 260px;

        tr {
            height: 40px;
        }
    }

    img {
        width: 150px;
        height: 175px;
    }
}

.table.bid {
    th,td {
        text-align: left;
        vertical-align: top;
        padding: 10px;
        width: 15%;

        &:nth-of-type(2) {
            width: 40%;
        }
    }
}

.table.contacts {
    tr {
        text-align: left;
        height: 50px;

        th,td {
            padding-left: 10px;

        }
    }
}

.table.business-detail {
    tr {
        border-collapse: collapse;
        border: none !important;

        td {
            vertical-align: top !important;

            h2 {
                margin-top: unset !important;
            }
        }

        td:first-child{
            width: 45%;
            font-size: var(--body-font-size-xs);
        }

        p {
            margin: 5px !important;
            padding: unset;
        }

        span.icon {
            vertical-align: middle;

            img {
                height: 80%;
            }
        }
    }
}

.halloween-events-table {
    width: 70%;

    table {
        border-collapse: separate;
        border-spacing: 0 20px;
        margin: 20px 0;
        font-family: var(--body-font-family);

        tr {
            line-height: 26px;

            td,th {
                vertical-align: top;
                background-color: #f2f2f2;

                &:first-child {
                    width: 200px;
                    padding: 10px 0 10px 5px;

                    img {
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                        display: block;
                        margin: 0 25px 5px 5px;
                    }

                }

                &:nth-child(2) {
                    padding: 10px 10px 10px 30px;

                    h3 {
                        color: #ba372a;
                        margin: 0;
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}

@media (width <= 900px) {
    .halloween-events-table,
    .halloween-events-table tbody,
    .halloween-events-table tr,
    .halloween-events-table td {
        display: block;
        width: 100%;
    }

    .halloween-events-table td:first-child {
        width: 100%;
    }

    .halloween-events-table td:first-child img {
        width: 100%;
        height: 200px;
    }

    .halloween-events-table td:nth-child(2) {
        padding: 20px;
    }

    .halloween-events-table td:nth-child(2) h3 {
        font-size: 20px;
    }

    .halloween-events-table tr {
        margin-bottom: 30px;
    }
}


/* CSS for blue-header-bordered Table variant */
  .table.mixed-columns
{
    table {
    border-collapse: collapse;
    width: 100%;
}

    td, th {
    border: 1px solid black;
    padding: 8px;  
  }

  td[colspan] {
    text-align: left;  
  }
}

.mixed-columns td {
    text-align: center;
  }

