body.modal-open {
  overflow: hidden;
}

.modal dialog::backdrop {
  background-color: rgb(19 19 19 / 75%);
}

.modal dialog {
  position: relative;
  width: calc(100vw - 48px);
  max-width: 800px;
  padding: 0;
  border: 1px solid var(--dark-color);
}

.modal dialog .modal-content {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
  max-height: calc(100dvh - (2 * var(--header-height)) - 48px);
  padding: 24px;
  padding-top: 0;
  margin-top: 0;
  font-size: 18px;
  font-family: 'Neue Montreal', sans-serif;
  font-weight: normal;
}

.modal dialog .modal-content p:first-child {
  font: 500 32px 'Neue Montreal', sans-serif;
}

@media (width >= 900px) {
  .modal dialog {
    width: calc(100vw - 64px);
  }
  
  .modal dialog .modal-content {
    max-height: calc(100dvh - (2 * var(--header-height)) - 64px);
    padding: 32px;
    padding-top: 0;
  }
}

.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
  line-height: 0;
}

.modal .close-button .icon.icon-close {
  content: '';
  width: 24px;
  height: 24px;
}

.modal .close-button .icon.icon-close::before,
.modal .close-button .icon.icon-close::after {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: currentcolor;
}

.modal .close-button .icon.icon-close::after {
  transform: translate(-50%, -50%) rotate(-45deg)
}

.modal dialog .section {
  padding: 0;
}

.modal .copysociallink {
  border-color: #DBE7F0;
  background: #F4F9FD;
  border-width: 1px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  display: block;
  font-size: 87.5%;
  color: #212529;
}

.modal .social-nav-item {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 12px;
  width: 204px;
  height: 170px;
}

.modal .cards > ul > li {
  display: flex;
  
  /* width: 90%; */
  min-height: 170px;
  margin-right: 2.66%;
  margin-bottom: 5px;
  border: 1px solid #eae9e8;
  text-align: center;
  transition: background .3s ease;
}

.modal .social-nav-item:hover {
  background: var(--white);
}

.modal .facebook-nav-item:hover {
  border-color: #3b5998;
}

.modal .twitter-nav-item:hover {
  border-color: #00ACED;
}

.modal .reddit-nav-item:hover {
  border-color: #ff5700;
}

.icon.icon-facebook-1 {
  width: 64px;
  height: 64px;
}

.icon.icon-twitter-1 {
  width: 64px;
  height: 64px;
}

.icon.icon-reddit-1 {
  width: 64px;
  height: 64px;
}

.modal.block .cards .cards-card-body p {
  margin-top: 2.5vh;
}

.modal.block .section.cards-container .default-content-wrapper:last-child p > a.share-close {
  background-color: #0094C3;
  font-size: 16px;
  padding: 14px 30px;
  margin: 0;
  border: 0;
  border-radius: 3px;
}

.modal.block .section.cards-container .default-content-wrapper:last-child p > a.share-close:hover {
  background-color: #218838
}

@media (width >= 900px) {
  .modal dialog {
    overscroll-behavior: none;
    overflow-y: hidden;
    max-height: 672px;
  }
}
