main .block.text {
    &.half-width-center {
        margin: auto;
        width: 50%;
        padding: 50px 50px 60px;
    }

    &.left-align {
        display: flex;
        padding-left: 50px;
    }

    &.stacked-left-align {
        display: flex;
        padding-left: 50px;
    }

    &.mini p {
        font-size: 12px;
    }

    &.color-blue {
        color: #236fa1;
    }

    &.color-orange {
        color: #ba372a !important;
    }

    &.color-ruby {
        color: #992235;
    }

    &.color-spring-green {
        color: #0ac2bf;
    }

    &.img-medium img{
        width: 50%;
    }

    &.highlight-color-yellow {
        background-color: #f1c40f;
    }

    &.highlight-color-pink {
        background-color: #fcc;
    }

    &.align-right-small {
        float: right;
        display: block;
        width: 20% !important;

        p {
            margin: 0;
            text-align: center;
        }
    }

    &.align-right-medium {
        float: right;
        display: block;
        width: 40% !important;

        p {
            margin: 0;
            text-align: center;
        }
    }

    &.align-left-small {
        float: left;
        display: block;
        width: 25% !important;
        margin-right: 20px;
    }

    &.align-left-medium {
        float: left;
        display: block;
        width: 40% !important;
        margin-right: 20px;
    }

    &.no-button a {
        color: var(--no-button-link);
        background-color: transparent;
        text-decoration: underline;
        border: 0;
        padding: 0;
        margin: 0;
    }
}