.newsletter {
    position: relative;
    background: var(--dark-orange);
    border-top: 35px solid rgb(179 70 40);
    border-bottom: 55px solid rgb(179 70 40);

    .default-content-wrapper {
        border: none;
        padding: 52px 59px 49px 40px;
        display: inline-block;
        background: #F8F7EE;
    }

    h2 {
        font: 400 15px var(--body-font-family);
        color: var(--orange);
        margin: unset;
    }

    a {
        color: #000;
        text-decoration: underline;
    }
}

footer {
    position: relative;
    background: #b54425 url("../../icons/footer-bg.png") left bottom/cover repeat-x;
    font-size: var(--body-font-size-xs);

    .footer {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0 17px;

        .newsletter:first-child {
            width: 100%;
        }
    }

    .footer-left {
        padding-left: 45px;
        padding-right: 20px;

        @media (width >= 900px) {
            width: 28%;

            img {
                height: 116px;
                width: 116px;
                border: none;
                margin-top: 4%;
            }
        }
    }

    .footer-middle {
        @media (width >= 900px) {
            width: 46.5%;
            padding-right: 20px;

            h3 {
                font: 400 32px var(--heading-font-family);;
                color: #fff;
                margin: 18px 0;
            }

            p {
                font: 400 18px var(--heading-font-family);;
                color: #fff;
                margin-bottom: 4%;
            }

            a {
                color: white;
                text-decoration: underline;
            }
        }


        .contact-data {
            margin-top: 12%;
        }
    }

    .footer-right {
        @media (width >= 900px) {
            width: 25.5%;
            margin-top: 1%;
            padding-left: 0;
            padding-right: 15px;
        }

        ul {
            list-style: none;
            display: inline-flex;
            gap: 20px;
            padding: unset;
        }

        p {
            font: 350 24px var(--heading-font-family);;
            color: #fff;
            margin: 2% 0%;
        }
    }

    .footer-top {
        border-bottom: 2px solid #FFF;

        .footer-top-box {
            width: 28%;
        }
    }

    .footer-bottom {
        @media (width >= 900px) {
            padding: 15px 10px 10px 80px;
            font: 400 18px var(--heading-font-family);

            ul {
                list-style: none;
                display: inline-flex;
                gap: 50vw;
                white-space: nowrap;
            }
        }

        border-top: 2px solid #FFF;
        width: 100%;
        color: #fff;

        a {
            text-decoration: none;
        }
    }

}

.footer.block {
    padding-top: 0;
    padding-bottom: 0;
}

footer .footer > div {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media (width < 900px) {
    .footer-right {
        display: none;
    }

    .footer-middle {
        display: block;
        color: #fff;
        width: 100%;
        font-size: 14px;
        padding: 20px 20px 0 40px;
        letter-spacing: 1.2px;
        order: 1;

        h3 {
            font-weight: bold;
            font-size: 18px;
            margin: 21px 0 10px;
        }

        p {
            font-size: 14px;
            margin-bottom: 16px;
            font-weight: normal;
        }

        .contact-data,.address-data {
            font-size: 9px;
        }
    }

    .footer-left {
        width: 100%;
        order: 2;
        text-align: right;
        position: relative;

        img {
            width: 56px;
            height: 56px;
            border: none;
        }
    }

    .footer-bottom {
        border-top: 2px solid #FFF;
        max-width: 100%;
        margin: 0 auto;
        font-style: var(--body-font-family);
        font-weight: normal;
        font-size: 9px;
        color: #fff;
        order: 3;

        ul {
            list-style: none;
            display: inline-flex;
            gap: 40vw;

        }
    }
}

/* eslint-disable no-descending-specificity */

@media (width >= 900px) {
    .newsletter h2 {
        font: 400 24px var(--body-font-family);
    }

    .newsletter > div {
        padding: 52px 59px 49px 40px;
        width: 665px;
    }
}

@media only screen and (width <= 900px) {
    /* widget for share */
  .floating-share-btn {
    top:92%;
    right:2%;
    background:#0094C3!important;
  }
}