/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --white: #fff;
  --orange: #C54B2A;
  --dark-orange: #B54425;
  --height: x;
  --original-height: y;
  --tab-height: z;

  /* fonts */
  --body-font-family: 'Open Sans',sans-serif;
  --heading-font-family: 'Neue Montreal', sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 104px;
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

body.appear {
  display: block;
  top: 0 !important;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
  -webkit-font-smoothing: antialiased;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

main .section-top {
  color: var(--white);
}

.section-top-wrapper > div {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.newsletter > div {
  background: #F8F7EE;
  padding: 26px 34px 24px;
  display: inline-block;
  padding-top: 37px;
  width: 332px;
}

main .section-top > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section-top-wrapper > div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

body > main > div:nth-child(1) > div {
  background-color: var(--text-color);
  overflow: hidden;
}

body > main > div.section.newsletter > div {
  border-top: 35px solid rgb(179 70 40);
  border-bottom: 55px solid rgb(179 70 40);
  padding: 3%;
}

body > main > div.section.section-top-container.top-topics-container > div.section-top-wrapper > div {
  padding: 29px 0 41px;
  background: url('../images/section-top-bg.png') left bottom/cover no-repeat;
}

main > div.section > .default-content-wrapper > p {
  margin: 0;
}

body > main > div:nth-child(1) > div picture > img {
  opacity: 0.75;
  transform-origin: bottom center;
  transform: scale(1.18);
  width: 100%;
  height: 100%;
}

main > div.section.desktop img {
  width: 100%;
  height: 667px;
  object-fit: cover;
}

main > div.section.mobile.with-background-image img {
  object-fit: cover;
  height: 700px;
}

main > div:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 667px;
    z-index: 0;
    background: #000;
    opacity: 0.1;
}

.section-top-wrapper {
  background: url('../images/section-top-bg.png') left bottom/cover no-repeat;
  padding: 29px 0 35px;
}

.section-top-wrapper > div > div > div:nth-child(1) > p {
  font: 380 48px oswald, sans-serif;
  margin: 20px 100px 20px 0;
  padding: 0;
}

.section-top-wrapper > div > div > div.button-container > p {
  padding: 0;
  margin: 0 0 5px;
}

.newsletter > a {
  display: inline-block;
  color: #000;
}

body > main > div.section.updates.section-top-container.column-container.cards-container > div.section-top-wrapper > div > div {
  max-width: 1630px;
  margin: 0 auto;
}

.newsletter {
  position: relative;
  background: var(--dark-orange);
}

.newsletter h2 {
  font: 400 15px var(--body-font-family);
  color: var(--orange);
  margin-bottom: 8px;
}

body > main > div.section.newsletter > div > p > a {
  display: inline-block;
  color: #000;
  border: none;
  background-color: inherit;
  padding: 1.5% 0;
  margin: 0;
  text-decoration: underline;
  font: 350 17px var(--body-font-family);
}

body > main > div.section.newsletter > div > p {
  margin: 0;
}

body > main > div.section.newsletter > div h2 {
  font: 350 25px var(--body-font-family);
  color: var(--orange);
  margin-top: 1.5%;
  margin-bottom: 8px;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

main > div.mobile.with-background-image {
  height: 700px;
}

@media only screen and (width <= 991px) {
  body > main > div.section.updates.section-top-container.column-container.cards-container > div.section-top-wrapper > div > div > div:nth-child(1) > p {
    margin: 0;
  }

  body > main > div.section.updates.section-top-container.column-container.cards-container.updates-decorated > div.section-top-wrapper > div {
    padding: 0 34px;
  }

  body > main > div.section.updates.section-top-container.column-container.cards-container.updates-decorated > div.section-top-wrapper > div > div > div.button-container {
    display: none;
  }

  body > main > div.section.updates.section-top-container.column-container.cards-container.updates-decorated > div.cards-wrapper > div {
    padding: 0 34px;
  }

  body > main > div.section.updates.section-top-container.column-container.cards-container.updates-decorated > div.column-wrapper > div {
    font-size: 17px;
    flex-wrap: wrap;
    padding: 20px 0;
    border-bottom: none;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

@media (width >= 900px) {
  .desktop {
    display: block;
  }
  
  .mobile {
    display: none;
  }

  .section > div {
    /* max-width: 1200px; */
    margin: auto;
  }

  .newsletter h2 {
    font: 400 24px var(--body-font-family);
  }

  main > div img {
    height: auto;
  }

  main > div::before {
      height: 667px;
  }

  main > div.section.desktop.with-background-image {
    height: 667px;
  }

  /* widget for share */
  .floating-share-btn {
    position:fixed;
    z-index:99999;
    top:40%;
    right:0;
    width:53px;
    border-radius:0;
    border:0;
    background:#0094C3!important;
    color:#fff!important;
    padding:7px 8px;
    box-shadow:0 0 10px rgba(0 0 0 0.3);
    text-align:center;
    line-height:1.5;
  }
  
  .floating-share-btn span {
    width: 18px;
    display:block;
    text-transform:uppercase;
    font-size:12px;
    line-height:1;
  }
  
  .share-float{
    margin-top:12px;
  }

  .newsletter > div {
    padding: 52px 59px 49px 40px;
    width: 665px;
  }
}