/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* stylelint-disable no-descending-specificity */
 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --white: #fff;
  --orange: #C54B2A;
  --dark-orange: #B54425;
  --height: x;
  --original-height: y;
  --tab-height: z;
  --default-button: #0094C3;
  --no-button-link: #007bff;
  --special-red: #e03e2d;
  --special-orange: #e67e23;
  --special-blue: #3598db;
  --special-green: #0ac2bf;
  --special-purple: #936;
  --special-parks-purple: #523379;
  --special-chocolate: #814924;
  --special-solid-pink: #81524e;
  --special-mid-blue: #236fa1;
  --overlay-background-color: #f5f5f5;
  --table-background-color1: #ecf0f1;
  --table-head-background-color1: #ecf0f1;
  --table-head-background-color2: #3598db;
  --table-head-background-color3: #eee;
  --table-head-background-color4: #c54b2a;
  --table-head-background-color5: #B09270;
  --table-head-background-color6: #c2e0f4;
  --table-head-background-color7: #ced4d9;

  /* fonts */
  --body-font-family: 'Open Sans',sans-serif;
  --heading-font-family: 'Neue Montreal', sans-serif;
  --icon-font-family: 'FontAwesome', sans-serif;
  --icon-fa-brands-font-family: 'FontAwesomeBrands', sans-serif;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;

  /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 36px;
  --heading-font-size-xl: 32px;
  --heading-font-size-l: 28px;
  --heading-font-size-m: 21px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 14px;

  /* nav height */
  --nav-height: 104px;

  /* spacing */
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 36px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 21px;
    --heading-font-size-s: 16px;
    --heading-font-size-xs: 14px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.center {
  text-align: center;
}

body.appear {
  display: block;
  top: 0 !important;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

div.top-arrow picture {
  position: fixed;
  right: 30px;
  bottom: -10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 12px;
  padding-left: 14px;
  z-index: 10000000;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

div.top-arrow picture img {
  width: auto;
  height: auto;
  max-width: 300%;
}

div.top-arrow picture.visible {
  transform: translateY(-20px);
  opacity: 1;
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

a:any-link.button.default {
  margin: 5px 0 !important;
  padding: .375rem .75rem !important;
  background: var(--default-button);
  color: #fff;
  border: 0;
  border-radius: 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  vertical-align: top;
  transition: all .3s;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
  -webkit-font-smoothing: antialiased;
}

.icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 2px 2px 0 0;
  
}

.icon img {
  height: 100%;
  width: 100%;
  
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

main .section-top {
  color: var(--white);
}

.section-top-wrapper > div {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

main .section-top > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section-top-wrapper > div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

body:not(:has('sidekick-library')) main > div:nth-child(1) > div, body:not(.event) > main > div:nth-child(1) > div {
  background-color: var(--text-color);
  overflow: hidden;
}

body > main > div.section.section-top-container.top-topics-container > div.section-top-wrapper > div {
  padding: 29px 0 41px;
  background: url('../images/section-top-bg.png') left bottom/cover no-repeat;
}

main > div.section > .default-content-wrapper > p {
  margin: 0;
}

main div.section.desktop img {
  width: 100%;
  height: 667px;
  object-fit: cover;
}

body:not(.event) > main > div:nth-child(1) > div picture > img {
  opacity: 0.75;
  transform-origin: bottom center;
  transform: scale(1.18);
  width: 100%;
  height: 100%;
}

main div.section.desktop.short {
    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .page-title {
        position: relative;
        right: 0;
        bottom: 180px;
        font: 700 44px var(--icon-font-family);
        color: #fff;
        line-height: 1;
        text-shadow: 0 2px 0.99px rgb(0 0 0 / 90%);
        padding: 0 45px;
    }
}

main div.section.desktop.short::before {
  background: unset;
}

main div.section.mobile {
    object-fit: cover;
    height: 700px;
    background-color: #bbb7b7;

    img {
        mix-blend-mode: multiply; 
        position: absolute;
        width: 100%;
        height: 700px;
        object-fit: cover;
        top: 0;
    }

    .page-title {
        position: absolute;
        left: 20px;
        bottom: 0;
        font: 700 44px 'Open Sans', sans-serif;
        color: #fff;
        line-height: 1;
        text-shadow: 0 2px 0.99px rgb(0 0 0 / 90%);
        padding: 0 15px;
    }

    &::before {
        background: unset;
    }

    &.with-background-image.short {
        height: 350px;
        position: relative;

        img {
            height: 350px;
        }
    }
}

body:not(:has('sidekick-library')) main > div:first-child:not(.short)::before, body:not(.event) main > div:first-child:not(.short)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 667px;
    z-index: 0;
    background: #000;
    opacity: 0.1;
}

.section-top-wrapper {
  background: url('../images/section-top-bg.png') left bottom/cover no-repeat;
  padding: 29px 0 35px;
}

.section-top-wrapper > div > div > div:nth-child(1) > p {
  font: 380 48px oswald, sans-serif;
  margin: 20px 100px 20px 0;
  padding: 0;
}

.section-top-wrapper > div > div > div.button-container > p {
  padding: 0;
  margin: 0 0 5px;
}

body > main > div.section.updates.section-top-container.column-container.cards-container > div.section-top-wrapper > div > div {
  max-width: 1630px;
  margin: 0 auto;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}



main .section.details-404 > .default-content-wrapper {
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xs);
  padding: 3vw;
}

@media only screen and (width <= 991px) {
  body > main > div.section.updates.section-top-container.column-container.cards-container > div.section-top-wrapper > div > div > div:nth-child(1) > p {
    margin: 0;
  }

  body > main > div.section.updates.section-top-container.column-container.cards-container.updates-decorated > div.section-top-wrapper > div {
    padding: 0 34px;
  }

  body > main > div.section.updates.section-top-container.column-container.cards-container.updates-decorated > div.section-top-wrapper > div > div > div.button-container {
    display: none;
  }

  body > main > div.section.updates.section-top-container.column-container.cards-container.updates-decorated > div.cards-wrapper > div {
    padding: 0 34px;
  }

  body > main > div.section.updates.section-top-container.column-container.cards-container.updates-decorated > div.column-wrapper > div {
    font-size: 17px;
    flex-wrap: wrap;
    padding: 20px 0;
    border-bottom: none;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

/* widget for share */

.floating-share-btn {
    position: fixed;
    z-index: 99999;
    width: 53px;
    border-radius: 0;
    border: 0;
    color: #fff!important;
    padding: 7px 8px;
    box-shadow: 0 0 10px rgba(0 0 0 0.3);
    text-align: center;
    line-height:1.5;

    span {
        width: 18px;
        display:block;
        text-transform:uppercase;
        font-size:12px;
        line-height:1;
    }
}



@media (width >= 900px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .section > div {
    /* max-width: 1200px; */
    margin: auto;
  }

  main > div img {
    height: auto;
  }

  main > div::before {
      height: 667px;
  }

  main .section.details-404 > .default-content-wrapper {
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size-xm);
  }

  main > div.section.desktop.with-background-image {
    height: 667px;
    background-color: #bbb7b7;

    img {
        mix-blend-mode: multiply;
    }
  }

  main > div.section.desktop.with-background-image.short {
    height: 400px;
  }

   /* widget for share */
  .floating-share-btn {
    top:40%;
    right:0;
    background:#C54B2A!important;
  }

  .floating-share-btn-home {
    background:#0094C3 !important;
  }

  /* BEGIN BUSINESS PAGES STYLES */
  main > div.section.desktop.with-background-image.business-detail {
    height: 400px;
    width: 100%;
    background-size: auto; /* or "contain" depending on what you want */
    background-position: center center;
  }

  .business-map {
    width: 30%;
    margin: 0 0 80px 25px;
    translate: 0 -40%;
  }

  .business-map-bottom {
    width: 30%;
    margin: 25px 0 80px 25px;
  }

  .business-section-bottom {
    background: #fff;
    padding: 26px 34px 24px;
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .columns-wrapper {
    background-color: #fff;
    margin-top: 20%;
    top: auto;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 26px 34px 24px;
  }

  .columns-container {
    margin-bottom: 25px;
  }

  .coulum1 {
    width: 50%;
  }

  .coulums-2-cols strong {
    font: 500 45px 'Neue Montreal', sans-serif;
  }

  .columns > div > div.column1 {
    display: inline-block;
    width: 50%;
    text-wrap: wrap;

    a {
      text-decoration: underline;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1;
      display: inline-block;
      font-size: 16px;
      color: #000;
      padding: 0;
      background-color: none !important;
      box-sizing: none;

    }

    p {
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.1;
      display: block;
      font-size: 16px;
      color: #000;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
      padding: 0%;
      color: #000;
    }
    
  }

  .drivers > div > div.column1 {
    display: inline-block;
    max-width: 30%;
    text-wrap: wrap;

    a {
      text-decoration: underline;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1;
      display: inline-block;
      font-size: 16px;
      color: #000;
      padding: 0;
      background-color: none !important;
      box-sizing: none;

    }

    p {
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.1;
      display: block;
      font-size: 16px;
      color: #000;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
      padding: 0%;
      color: #000;
      width: auto;
    }
    
    picture {
      display: inline-block;
      height: 100%;
      object-fit: cover;
    }

  }

  .drivers {
    border-bottom: solid #ccc 1px;
  }

  div:has(.row1cols) {
    padding:  26px 0 0;
  }

  .columns:not(.alert) > div > div.column2 strong:last-of-type {
    font-size: 16px;

  }

  .columns > div > div.column2 p strong:first-of-type{
    font: 500 45px 'Neue Montreal', sans-serif;

  }

  .row2cols > div > div.column2 p strong:first-of-type{
    font: 600 18px 'Neue Montreal', sans-serif;

  }

  .column1-paragraph{
    margin:0;

  }

  .column1-paragraph > .button:any-link {
    text-align: left;
    margin: 1px;

  }

  .row1cols {
    padding: 0 24px;
  }

  .row2cols > div > div.column2 {
    padding-left: 0%;
  }

  div:has(.row2cols) {
    padding:  0 0 24px;
  }

  .columns > div > div.column2 p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .business-single-col {
    background-color: #fff;
    margin-top: 20%;
    top: auto;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 26px 34px 24px;
    color: #000;

    .button-container button{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
      padding: 0%;
      background-color: #fff;
      color: #000;

    }

    a {
      text-decoration: underline;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1;
      display: block;
      font-size: 16px;
      color: #000;
      padding: 0;
      background-color: none !important;

      --link-color: #000;
      --border-box: 0;
      --link-hover-color: #000;
      --background-color: #fff;

      box-sizing: none;

    }

  }
}

.newsdetail {
    padding: 50px 15px 60px;
}

main > div.section.newsdetail > .default-content-wrapper > p {
    margin-bottom: 30px;
}

.line-break.block {
    border: solid #ccc;
    border-width: 1px 0 0;
}

.biddetail {
    padding: 50px 15px;
}

.section .breadcrumbs {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    width:auto;
    overflow: hidden;
    z-index: 100;

    ul {
        margin: 0;
        list-style: none;
        font: normal 17px 'Neue Montreal', sans-serif;
        color: #fff;
        line-height: 1;

        li {
            display: inline-block;
            margin: 0;
            line-height: 1.3;
            position: relative;
            margin-right: 23px;
        }

        li:first-of-type a {
            color:#FFC7B8;
        }

        li:not(:last-of-type)::after {
            content: '';
            width: 4px;
            height: 8px;
            background: url('../../icons/breadcrumbs-arrow.png') center/4px 8px no-repeat;
            position: absolute;
            top: 8px;
            right: -15px;
        }
    }

    a:any-link {
        color: currentcolor;
        font-weight: normal;
    }

    a {
        display:inline-block;
        color:#fff;
        position:relative;
        text-decoration:none;
    }
}

.no-button a:any-link:not(.block a, .block * a) {
    color: var(--no-button-link);
    background-color: transparent;
    text-decoration: underline;
    border: 0;
    padding: 0;
    margin: 0;
}

.image-full-width img {
    width: 100% !important;
}

.image-half-width img {
    width: 50% !important;
}

.image-20p-width img:not(.block img, .block * img) {
    width: 20% !important;
}

.image-right img {
    float: right;
}

.team-list {
    h2 {
        padding-top: 30px;
        padding-bottom: 0;
        margin: unset;
    }

    p {
        margin-top: 0;
    }
}

.icons-small {
    img {
        height: 80%;
    }

    span {
        vertical-align: bottom;
    }
}
