.map-embed {
    width: 100%;
    border: 1px solid #3787d8;
    height: 500px;
}

body.event .map-embed {
    border: 0;
    height: 200px;
}

.district-map.map-embed {
    display: inline-block;
    width: unset ;
    height: unset ;
    border: none !important;

    iframe {
        width: 275px ;
        height: 225px ;
        display: block ;
        border: none ;
    }
}

.business-map {
    margin: 0 0 80px 25px;
    translate: 0 5%;
}

.business-map-bottom {
    width: 30%;
    margin: 25px 0 80px;
}

.map-embed.right-align {
    display: inline-block;
    width: 450px ;
    height: unset ;
    border: none !important;
    float: right;

    iframe {
        height: 400px ;
        display: block ;
        border: none ;
    }
}

.map-embed.left-align {
    display: inline-block;
    width: 500px ;
    height: unset ;
    border: none !important;
    float: left;
    padding-right: 50px;
    padding-top: 1em;

    iframe {
        height: 450px ;
        display: block ;
        border: none ;
    }
}

.map-embed.width-larger {
    width: 500px ;
}

.map-title {
    text-align: center;
    line-height: 1.778;
    background: #C54B2A;
    padding: 30px 45px;
    color: #fff;
    font-weight: bold;
}

/* Mobile View */
@media (width <= 600px) {
    .map-embed {
        height: 300px;
    }

    .map-embed.right-align,
    .map-embed.left-align {
        width: 100%;
        float: none;
    }

    .map-embed.right-align iframe,
    .map-embed.left-align iframe {
        height: 300px;
    }
}