.map-embed {
    width: 100%;
    border: 1px solid #3787d8;
    height: 500px;
}

body.event .map-embed {
    border: 0;
    height: 200px;
}

.district-map.map-embed {
    display: inline-block;
    width: unset ;
    height: unset ;
    border: none !important;

    iframe {
        width: 275px ;
        height: 225px ;
        display: block ;
        border: none ;
    }
}

.business-map {
    /* width: 30%; */
    margin: 0 0 80px 25px;
    translate: 0 5%;
  }

  .business-map-bottom {
    width: 30%;
    margin: 25px 0 80px 0;
  }